DEPLOYMENT_DOMAIN=localhost
REPO_URL=https://github.com/qe-collaborative-services/1115-hub.git
TAG=0.41.0
MNT_DIR=/mnt
QE_NAMES=bronx healtheconn grrhio healthix healthelink hixny qcs-test-load qcs-test-engr partner1-test partner2-test observe
DATE=0001-01-01
ORCHCTL_CRON=* * * * *
FHIR_ENDPOINT=40lafnwsw7.execute-api.us-east-1.amazonaws.com/dev
SEMAPHORE=1

# Postgres DB connection details
POSTGRES_DB=xxxx
POSTGRES_USER=xxxx
POSTGRES_HOST=xxxx
POSTGRES_PASSWORD=xxxx
POSTGRES_PORT=xxxx
