<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/prime}">

<head>
    <title>Settings - Profile</title>
</head>

<body>
<div layout:fragment="content" class="p-6 bg-gray-50 min-h-screen">
    <div class="w-full mx-auto">
        <h1 class="text-3xl font-bold text-gray-800 mb-6 px-4 md:px-6">User Profile</h1>

        <!-- Profile Card -->
        <div class="bg-white rounded-lg shadow-sm p-6 mx-4 md:mx-6">
        <div class="flex flex-col sm:flex-row items-center sm:items-start sm:space-x-6 h-[400px]">
                
                <!-- Avatar -->
               <!-- <section class="bg-white rounded-xl shadow-lg p-8 w-full md:w-3/4 lg:w-2/3 xl:w-1/2">  -->
             <div class="flex flex-col md:flex-row items-center md:items-start space-y-6 md:space-y-0 md:space-x-8">
                
                <div class="flex-shrink-0">
                    <img th:src="${#authentication.principal.attributes['avatar_url']}" 
                         alt="User Avatar"
                         class="w-32 h-32 rounded-full border-4 border-white shadow-md object-cover">
                </div>
                
                <div class="grid grid-cols-1 sm:grid-cols-2 gap-y-6 gap-x-12 w-full text-center md:text-left">
                    
                    <div>
                        <label class="block text-sm font-semibold text-gray-500 uppercase tracking-wider">Name</label>
                        <p class="mt-1 text-lg font-medium text-gray-800">[[${#authentication.principal.attributes['name']}]]</p>
                    </div>
                    
                    <div>
                        <label class="block text-sm font-semibold text-gray-500 uppercase tracking-wider">Email</label>
                        <p class="mt-1 text-lg font-medium text-gray-800">[[${#authentication.principal.attributes['email']}]]</p>
                    </div>
                    
                    <div>
                        <label class="block text-sm font-semibold text-gray-500 uppercase tracking-wider">Role</label>
                        <p class="mt-1 text-lg font-medium text-gray-800">
                            [[${#strings.listJoin(#authentication.principal.attributes['role'], ', ')}]]</p>
                    </div>
                    
                    <div>
                        <label class="block text-sm font-semibold text-gray-500 uppercase tracking-wider">Tenant</label>
                        <p class="mt-1 text-lg font-medium text-gray-800">
                            [[${#strings.listJoin(#authentication.principal.attributes['groupNames'], ', ')}]]
                        </p>                   
                  </div>
                </div>
            </div>
        <!-- </section> -->

    </div>
</div>
</body>
</html>
