<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/prime}">

<head> 

    <!-- if JSON Viewer is not already in the layout, add the following -->
    <!-- <script src="https://unpkg.com/@alenaksu/json-viewer@2.0.0/dist/json-viewer.bundle.js"></script> -->

    <th:block th:insert="./fragments/common-head-aggrid :: common-head-aggrid"></th:block>
    <style>
        .grid-description {
            font-size: 14px;
            margin: 8px 0px 10px 15px;
        }
    </style>
    <script type="module">
        import { AGGridAide, AGGridAideBuilder } from '@presentation/shell/aggrid-aide.js';
        import ModalAide from '@presentation/shell/modal-aide.js';

        const schemaName = 'techbd_udi_ingress';
        const viewName = 'interaction_http_request';
        const popViewName = 'interaction_http_request_payload';
        document.addEventListener('DOMContentLoaded', function () {
            const modalAide = new ModalAide();
            const agGridInstance = new AGGridAideBuilder()
                .withColumnDefs([
                    {
                        headerName: "Request Time",
                        field: "interaction_created_at",
                        sort: "desc",
                        filter: "agDateColumnFilter"
                    },
                    {
                        headerName: "TechBD Interaction ID",
                        field: "interaction_id",
                        filter: "agTextColumnFilter",
                        cellRenderer: AGGridAide.modalCellRenderer((params, modalAide) => {

                            // Get the value of the URI field from the current row
                            const uri = params.data.uri;

                            // Define API endpoint based on the URI value
                            let apiEndpoint;

                            if (uri === "/Bundle" || uri === "/Bundle/"  || uri === "/Hl7/v2") {
                                const sat_interaction_http_request_id = params.data.sat_interaction_http_request_id;
                                // If URI is /Bundle, use the bundle-specific view                                
                                apiEndpoint = `/api/ux/tabular/jooq/${schemaName}/interaction_http_fhir_request/sat_interaction_http_request_id/${sat_interaction_http_request_id}.json`;
                            } else {
                                // Otherwise, use the default view
                                apiEndpoint = `/api/ux/tabular/jooq/${schemaName}/${popViewName}/interaction_id/${params.value}.json`;
                            }

                            // Fetch and display the JSON value in the modal
                            modalAide.viewFetchedJsonValue(window.shell.serverSideUrl(apiEndpoint));

                            
                        }, modalAide)
                    },
                    { headerName: "TechBD Tenant ID", field: "tenant_id", filter: "agTextColumnFilter" },
                    { headerName: "URI", field: "uri", filter: "agTextColumnFilter" },
                    { headerName: "Nature", field: "nature", filter: "agTextColumnFilter" },
                    { headerName: "From State", field: "from_state", filter: "agTextColumnFilter" },
                    { headerName: "To State", field: "to_state", filter: "agTextColumnFilter" },
                    { headerName: "Validation Issues", field: "issues_count", filter: "agTextColumnFilter" },
                    { headerName: "FHIR Resources", field: "resource_types", filter: "agTextColumnFilter" },
                    { headerName: "IP Address", field: "client_ip_address", filter: "agTextColumnFilter" },
                    { headerName: "User Agent", field: "user_agent", filter: "agTextColumnFilter" }
                ])
                .withServerSideDatasource(
                    window.shell.serverSideUrl(`/api/ux/tabular/jooq/${schemaName}/${viewName}.json`),
                    (data, valueCols) => {
                        return valueCols.map(col => ({
                            headerName: col.displayName,
                            field: col.field
                        }));
                    },
                )
                .withModalAide(modalAide)
                .withGridDivStyles({ height: "750px", width: "100%" })
                .build();

            agGridInstance.init('serverDataGrid');
        });
    </script>    
</head>

<body>
    <div layout:fragment="content">
        <div class="grid-description" id="date-range"> 
        This widget offers a detailed analysis of HTTP interactions, focusing on key aspects such as the request time, TechBD interaction ID, tenant ID, URI, and the nature of the interaction. It also tracks the state transitions from the initial state to the final state, along with any validation issues encountered during the process. The widget includes information about associated FHIR resources, the client's IP address, and the user agent. By providing a sortable and filterable grid, this tool enables users to efficiently explore and identify patterns, issues, or anomalies in the interactions, supporting deeper insights into the system's performance and behavior.
    </div>
        <div id="serverDataGrid" class="ag-theme-alpine"></div>
    </div>
</body>

</html>