<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/prime}">

<head> 

    <!-- if JSON Viewer is not already in the layout, add the following -->
    <!-- <script src="https://unpkg.com/@alenaksu/json-viewer@2.0.0/dist/json-viewer.bundle.js"></script> -->

    <th:block th:insert="./fragments/common-head-aggrid :: common-head-aggrid"></th:block>
    <style>
        .grid-description {
            font-size: 14px;
            margin: 8px 0px 10px 15px;
        }
    </style>
    <script type="module">
        import { AGGridAide, AGGridAideBuilder } from '@presentation/shell/aggrid-aide.js';
        import ModalAide from '@presentation/shell/modal-aide.js';

        const schemaName = 'techbd_udi_ingress';
        const viewName = 'interaction_observe';
        const viewdetail = 'interaction_http_request_payload';
        document.addEventListener('DOMContentLoaded', function () {
            const modalAide = new ModalAide();
            const agGridInstance = new AGGridAideBuilder()
                .withColumnDefs([
                    {
                        headerName: "TechBD  Interaction ID",
                        field: "interaction_id",
                        filter: "agTextColumnFilter",
                        cellRenderer: AGGridAide.modalCellRenderer((params, modalAide) => {
                            modalAide.viewFetchedJsonValue(window.shell.serverSideUrl(`/api/ux/tabular/jooq/${schemaName}/${viewdetail}/interaction_id/${params.value}.json`));
                        }, modalAide)
                    },
                    { headerName: "URI", field: "uri", filter: "agTextColumnFilter" },
                    {
                        headerName: "Duration (ms)",
                        field: "duration_millisecs",
                        sort: "desc",
                        filter: "agNumberColumnFilter"
                    },
                    {
                        headerName: "Start Time",
                        field: "start_time",
                        filter: "agDateColumnFilter"
                    },
                    {
                        headerName: "Finish Time",
                        field: "finish_time",
                        filter: "agDateColumnFilter"
                    }
                    
                ])
                .withServerSideDatasource(
                    window.shell.serverSideUrl(`/api/ux/tabular/jooq/${schemaName}/${viewName}.json`),
                    (data, valueCols) => {
                        return valueCols.map(col => ({
                            headerName: col.displayName,
                            field: col.field
                        }));
                    },
                )
                .withModalAide(modalAide)
                .withGridDivStyles({ height: "750px", width: "100%" })
                .build();

            agGridInstance.init('serverDataGrid');
        });
    </script>    
</head>

<body>
    <div layout:fragment="content">
        <div class="grid-description" id="date-range"> 
            This widget displays detailed interaction metrics for HTTP requests, including the interaction ID, URI, start time, finish time, duration in milliseconds, and the interaction HTTP request ID. The data is extracted from request and response headers to calculate the duration of each interaction. This overview helps in analyzing the performance and timing of HTTP interactions, sorted by the longest duration first, providing insights into the efficiency of service handling.
        </div>
        <div id="serverDataGrid" class="ag-theme-alpine"></div>
    </div>
</body>

</html>