<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/prime}">

<head> 
    <style>
        .grid-description {
            font-size: 14px;
            margin: 8px 0px 10px 15px;
        }
    </style>
    <!-- if JSON Viewer is not already in the layout, add the following -->
    <!-- <script src="https://unpkg.com/@alenaksu/json-viewer@2.0.0/dist/json-viewer.bundle.js"></script> -->

    <th:block th:insert="./fragments/common-head-aggrid :: common-head-aggrid"></th:block>
    <script type="module">
        import { AGGridAide, AGGridAideBuilder } from '@presentation/shell/aggrid-aide.js';
        import ModalAide from '@presentation/shell/modal-aide.js';
        import { Helpers } from '@presentation/shell/helpers.js';

        const schemaName = 'techbd_udi_ingress';
        const viewName = 'interaction_http_request_summary'; 
        const provenanceDetView = 'interaction_http_request_summary_details';
        const proveanceColumnDefs = [
            { headerName: "TechBD  Interaction ID", field: "hub_interaction_id", filter: "agTextColumnFilter" }, 
            { headerName: "Submission Date", field: "request_created_at", filter: "agDateColumnFilter" } 
        ];
        function getProveanceGridData(params) {
            const client_ip_address = params.data.client_ip_address;
            const user_agent = params.data.user_agent;
            const tenant_id_lower = params.data.tenant_id_lower;
            fetch(window.shell.serverSideUrl(`/api/ux/tabular/jooq/${schemaName}/${provenanceDetView}/tenant_id_lower/${tenant_id_lower}/client_ip_address/${client_ip_address}.json`))
                .then(response => {
                    if (response.url.includes('/?timeout=true')) {
                        window.location.href = '/?timeout=true'; // Redirect to login page
                        return null; // Prevent further processing of the response
                    }
                    return response.json();
                })
                .then(response => {
                    params.successCallback(response);
                })
                .catch(error => {
                    console.error('Error fetching details data' + error);
                });
        }
        document.addEventListener('DOMContentLoaded', function () {
            const modalAide = new ModalAide();
            const helpers = new Helpers();
            const agGridInstance = new AGGridAideBuilder()
                .withColumnDefs([
                    {
                        headerName: "TechBD Tenant ID",
                        field: "tenant_id_lower",
                        filter: "agTextColumnFilter",
                        headerTooltip: "Unique identifier assigned to a tenant, representing the organization or client making the HTTP requests.",
                        cellRenderer: 'agGroupCellRenderer'
                    }, 
                    {
                        headerName: "Client IP Address",
                        field: "client_ip_address",
                        sort: "desc",
                        filter: "agTextColumnFilter",
                        headerTooltip: "IP address from which the request originated, indicating the source of the interaction."
                    }, 
                    {
                        headerName: "Request Count",
                        field: "request_count",
                        filter: "agTextColumnFilter",
                        headerTooltip: "Total number of HTTP requests received from the same tenant, client IP address, and user agent during the specified date range" 
                    },
                    {
                        headerName: "User Agent",
                        field: "user_agent",
                        filter: "agTextColumnFilter",
                        headerTooltip: "Information about the user's browser or application that made the request, including details about the device and operating system." 
                    }
                    
                ])
                .withServerSideDatasource(
                    window.shell.serverSideUrl(`/api/ux/tabular/jooq/${schemaName}/${viewName}.json`),
                    (data, valueCols) => {
                        return valueCols.map(col => ({
                            headerName: col.displayName,
                            field: col.field
                        }));
                    },
                ).withMasterDetail(true)
                .withDetailCellRendererParams({
                    detailGridOptions: {
                        columnDefs: proveanceColumnDefs,
                        defaultColDef: {
                            flex: 1
                        }
                    },
                    getDetailRowData: params => {
                        getProveanceGridData(params);
                    }
                })
                .withDetailRowAutoHeight(false)
                .withModalAide(modalAide)
                .withGridDivStyles({ height: "750px", width: "100%" })
                .build();

            agGridInstance.init('serverDataGrid');

            // Add date-range text 
            // Inject the date range into the HTML
            helpers.injectDateRangeText('date-range', 'This widget displays details about data requested by different tenants from <b>{startDate}</b> to <b>{endDate}</b>. It captures the tenant ID, client IP address, and user agent information, with the data grouped by tenant and client details. The request count is calculated to provide insights into the volume of HTTP requests encountered by the service during this period. This overview helps in understanding the provenance of these interactions and the distribution of request traffic across different tenants.</br>Cicking on the arrow before the Tenant ID allows you to drill down and view detailed information for that tenant.');
        });
    </script>    
</head>

<body>
    <div layout:fragment="content">
        <div class="grid-description" id="date-range"> 
        </div>
        <div id="serverDataGrid" class="ag-theme-alpine"></div>
    </div>
</body>

</html>