# Rename this file `.envrc` and use it during development.
# Secrets should be kept in a vault or passed through environments
# and never stored in Git.

# If you want use these, remember to start VSCode or your IDE after `direnv allow`

# use `sandbox` (localhost), `devl`, `stage`, `prod`
export SPRING_PROFILES_ACTIVE=sandbox
export sandbox_TECHBD_UDI_DS_PRIME_JDBC_URL=jdbc:postgresql://aws.neon.tech/persistence-prime
export sandbox_TECHBD_UDI_DS_PRIME_JDBC_USERNAME=persistence-prime
export sandbox_TECHBD_UDI_DS_PRIME_JDBC_PASSWORD=**********

# these are the `orchctl.ts` SFTP accounts that will be made browsable;
# ensure sequence of _0_, _1_, etc. are correct, they map to
# org.techbd.orchestrate.sftp.account.orchctlts in application.yml

export ORG_TECHBD_ORCHESTRATE_SFTP_ACCOUNT_ORCHCTLTS_0_TENANTID=qeName1
export ORG_TECHBD_ORCHESTRATE_SFTP_ACCOUNT_ORCHCTLTS_0_SERVER=sftp.techbd.org
export ORG_TECHBD_ORCHESTRATE_SFTP_ACCOUNT_ORCHCTLTS_0_PORT=22
export ORG_TECHBD_ORCHESTRATE_SFTP_ACCOUNT_ORCHCTLTS_0_USERNAME=un1
export ORG_TECHBD_ORCHESTRATE_SFTP_ACCOUNT_ORCHCTLTS_0_PASSWORD=pw1

export ORG_TECHBD_ORCHESTRATE_SFTP_ACCOUNT_ORCHCTLTS_1_TENANTID=qeName2
export ORG_TECHBD_ORCHESTRATE_SFTP_ACCOUNT_ORCHCTLTS_1_SERVER=sftp.techbd.org
export ORG_TECHBD_ORCHESTRATE_SFTP_ACCOUNT_ORCHCTLTS_1_PORT=22
export ORG_TECHBD_ORCHESTRATE_SFTP_ACCOUNT_ORCHCTLTS_1_USERNAME=un2
export ORG_TECHBD_ORCHESTRATE_SFTP_ACCOUNT_ORCHCTLTS_1_PASSWORD=pw2