<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/prime}">

<head> 
    <th:block th:insert="./fragments/common-head-aggrid :: common-head-aggrid"></th:block>
    <script src="https://www.jsviews.com/download/jsrender.js"></script>
    <script type="module">
        import { AGGridAide, AGGridAideBuilder } from '@presentation/shell/aggrid-aide.js';
        import ModalAide from '@presentation/shell/modal-aide.js';
        import { FhirViewer } from '@presentation/shell/fhir-view.js';
        customElements.define('fhir-viewer', FhirViewer);
        const schemaName = 'techbd_udi_ingress';
        const organizationsViewName = 'fhir_screening_organization';
        const patientDetailsView = 'fhir_screening_patient';
        const screeningDetailsView = 'fhir_screening_info';
        const questionAndAnswersView = 'fhir_patient_screening_questions_answers';
        const orgDetailsColDefs = [
            { headerName: "Organization Name", field: "org_name", filter: "agTextColumnFilter", cellRenderer: 'agGroupCellRenderer' },
            { headerName: "Organization Id", field: "org_id", filter: "agTextColumnFilter"},
            { headerName: "TechBD Tenant ID", field: "qe_name", filter: "agTextColumnFilter" },
            { headerName: "Active", field: "org_active", filter: "agTextColumnFilter" },
            { headerName: "Address", field: "org_address", filter: "agTextColumnFilter" },
            { headerName: "City", field: "org_city", filter: "agTextColumnFilter" },
            { headerName: "State", field: "org_state", filter: "agTextColumnFilter" },
            { headerName: "Postal Code", field: "org_postal_code", filter: "agTextColumnFilter" }
        ];
        const patientDetailsColDefs = [
            { headerName: "Patient MRN", field: "patient_mrn", filter: "agTextColumnFilter", cellRenderer: 'agGroupCellRenderer' },
            { headerName: "First Name", field: "patient_first_name", filter: "agTextColumnFilter" },
            { headerName: "Last Name ", field: "patient_last_name", filter: "agTextColumnFilter" },
            { headerName: "Gender", field: "patient_gender", filter: "agTextColumnFilter" },
            { headerName: "Birth Date", field: "patient_birth_date", filter: "agDateColumnFilter" },
            { headerName: "Language", field: "patient_language", filter: "agTextColumnFilter" },
            // { headerName: "SSN", field: "patient_ssn", filter: "agTextColumnFilter" }
        ];
        const screeningDetailsColDefs = [
            {
                headerName: "Screening Details", field: "submitted_date_time", cellRenderer: 'agGroupCellRenderer'
            }
        ];
        const questionAndAnswersColumnDefs = [
            { headerName: "Question Code", field: "question_code", filter: "agTextColumnFilter" },
            {
                headerName: "Question", field: "question", filter: "agTextColumnFilter",flex:4,tooltipField: 'question',
                valueGetter: (params) => {
                    return params.data.question ?? "No observation provided";
                }
            },
            { headerName: "Answer Code", field: "answer_code", filter: "agTextColumnFilter" },
            {
                headerName: "Answer", field: "answer", filter: "agTextColumnFilter",flex:3,tooltipField: 'answer',
                valueGetter: (params) => {
                    return params.data.answer ?? "No value provided";
                }
            }
        ];
        function getScreeningGridData(params) {
            const value = params.data.patient_mrn;
            const qeName = params.data.qe_name
            fetch(window.shell.serverSideUrl(`/api/ux/tabular/jooq/${schemaName}/${screeningDetailsView}/qe_name/${qeName}/patient_mrn/${value}.json`))
                .then(response => {
                    if (response.url.includes('/?timeout=true')) {
                        window.location.href = '/?timeout=true'; // Redirect to login page
                        return null; // Prevent further processing of the response
                    }
                    return response.json();
                })
                .then(response => {
                    params.successCallback(response);
                })
                .catch(error => {
                    console.error('Error fetching details data' + error);
                });
        }
        function getQuestionAndAnswerGridData(params) {
            const patientMRN = params.data.patient_mrn;
            const interactionId = params.data.hub_interaction_id;
            fetch(window.shell.serverSideUrl(`/api/ux/tabular/jooq/${schemaName}/${questionAndAnswersView}/hub_interaction_id/${interactionId}/patient_mrn/${patientMRN}.json`))
                .then(response => {
                    if (response.url.includes('/?timeout=true')) {
                        window.location.href = '/?timeout=true'; // Redirect to login page
                        return null; // Prevent further processing of the response
                    }
                    return response.json();
                })
                .then(response => {
                    params.successCallback(response);
                })
                .catch(error => {
                    console.error('Error fetching details data' + error);
                });
        }
        function getPatientGridData(params) {
            const orgId = params.data.org_id;
            const qeName = params.data.qe_name;
            fetch(window.shell.serverSideUrl(`/api/ux/tabular/jooq/${schemaName}/${patientDetailsView}/qe_name/${qeName}/primary_org_id/${orgId}.json`))
                .then(response => {
                    if (response.url.includes('/?timeout=true')) {
                        window.location.href = '/?timeout=true'; // Redirect to login page
                        return null; // Prevent further processing of the response
                    }
                    return response.json();
                })
                .then(response => {
                    params.successCallback(response);
                })
                .catch(error => {
                    console.error('Error fetching details data' + error);
                });
        }
        function formatDateToCustomString(dateToBeConverted) {
            if (dateToBeConverted) {
                if (dateToBeConverted) {
                    let milliseconds = dateToBeConverted;
                    milliseconds = dateToBeConverted * 1000;
                    let date = new Date(milliseconds);
                    let options = {
                        timeZone: 'America/New_York',
                        year: 'numeric',
                        month: '2-digit',
                        day: '2-digit',
                        hour: '2-digit',
                        minute: '2-digit',
                        second: '2-digit',
                        hour12: false
                    };
                    let formatter = new Intl.DateTimeFormat('en-US', options);
                    return formatter.format(date);
                }
                return '';
            }
            return dateToBeConverted;
        }
        document.addEventListener('DOMContentLoaded', function () {
            const modalAide = new ModalAide();
            const agGridInstance = new AGGridAideBuilder()
                .withColumnDefs(orgDetailsColDefs)
                .withServerSideDatasource(
                    //List all organizations
                    window.shell.serverSideUrl(`/api/ux/tabular/jooq/${schemaName}/${organizationsViewName}.json`),
                    (data, valueCols) => {
                        return valueCols.map(col => ({
                            headerName: col.displayName,
                            field: col.field
                        }));
                    },
                )
                .withDetailCellRendererParams({
                    detailGridOptions: {
                        columnDefs: patientDetailsColDefs,
                        defaultColDef: {
                            flex: 1
                        },
                        masterDetail: true,
                        detailCellRendererParams: {
                            detailGridOptions: {
                                columnDefs: screeningDetailsColDefs,
                                defaultColDef: {
                                    flex: 1
                                },
                                masterDetail: true,
                                onFirstDataRendered: function (params) {
                                    const rowCount = params.api.getDisplayedRowCount();
                                    const firstRowNode = params.api.getDisplayedRowAtIndex(0);
                                    if (rowCount == 1 && firstRowNode) {
                                        firstRowNode.setExpanded(true);
                                    }
                                },
                                detailCellRendererParams: {
                                    detailGridOptions: {
                                        columnDefs: questionAndAnswersColumnDefs,
                                        defaultColDef: {
                                            flex: 1
                                        }
                                    },
                                    detailRowHeight: 500,
                                    getDetailRowData: params => {
                                        // Show questions and answers specific to organization
                                        getQuestionAndAnswerGridData(params);
                                    }
                                }
                            },
                            detailRowHeight: 500,
                            getDetailRowData: params => {
                                // Show screenings specific to patient
                                getScreeningGridData(params);
                            }
                        }
                    },
                    detailRowHeight: 700,
                    getDetailRowData: params => {
                        // Show patients specific to organization
                        getPatientGridData(params);
                    }
                })
                .withMasterDetail(true)
                .withDetailRowAutoHeight(true)
                .withModalAide(modalAide)
                .withGridDivStyles({ height: "750px", width: "100%" })
                .build();
            agGridInstance.init('serverDataGrid');
        });
    </script>
</head>

<body>
    <div layout:fragment="content">
        <div id="serverDataGrid" class="ag-theme-alpine"></div>
    </div>

</body>

</html>