<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/prime}">

<head>
    <link rel="stylesheet" href="https://unpkg.com/ag-grid-community/styles/ag-grid.css">
    <link rel="stylesheet" href="https://unpkg.com/ag-grid-community/styles/ag-theme-alpine.css">

    <!-- if JSON Viewer is not already in the layout, add the following -->
    <!-- <script src="https://unpkg.com/@alenaksu/json-viewer@2.0.0/dist/json-viewer.bundle.js"></script> -->

    <script src="https://unpkg.com/ag-grid-enterprise/dist/ag-grid-enterprise.js"></script>
    <script src="https://www.jsviews.com/download/jsrender.js"></script>
    <script type="module">
        import { AGGridAide, AGGridAideBuilder } from '@presentation/shell/aggrid-aide.js';
        import ModalAide from '@presentation/shell/modal-aide.js';
        import { FhirViewer } from '@presentation/shell/fhir-view.js';
        customElements.define('fhir-viewer', FhirViewer);
        const schemaName = 'techbd_udi_ingress';
        const viewName = 'fhir_screening_patient';
        const detailTable1ViewName = 'fhir_screening_info';
        const detailTable2ViewName = 'fhir_patient_screening_questions_answers';

        document.addEventListener('DOMContentLoaded', function () {
            const modalAide = new ModalAide();
            const agGridInstance = new AGGridAideBuilder()
                .withColumnDefs([
                    {
                        headerName: "Patient MRN", field: "patient_mrn", filter: "agTextColumnFilter"
                        , cellRenderer: 'agGroupCellRenderer'
                    },
                    { headerName: "QE Name", field: "qe_name", filter: "agTextColumnFilter" },
                    { headerName: "Full Name", field: "patient_full_name", filter: "agTextColumnFilter" },
                    {
                        headerName: "First Name",
                        field: "patient_first_name",
                        filter: "agTextColumnFilter"
                    },
                    { headerName: "Last Name ", field: "patient_last_name", filter: "agTextColumnFilter" },
                    { headerName: "Gender", field: "patient_gender", filter: "agTextColumnFilter" },
                    { headerName: "Birth Date", field: "patient_birth_date", filter: "agDateColumnFilter" },
                    { headerName: "Language", field: "patient_language", filter: "agTextColumnFilter" },
                    { headerName: "SSN", field: "patient_ssn", filter: "agTextColumnFilter" }
                ])
                .withServerSideDatasource(
                    window.shell.serverSideUrl(`/api/ux/tabular/jooq/${schemaName}/${viewName}.json`),
                    (data, valueCols) => {
                        return valueCols.map(col => ({
                            headerName: col.displayName,
                            field: col.field
                        }));
                    },
                )
                .withDetailCellRendererParams({// provide the Grid Options to use on the Detail Grid
                    detailGridOptions: {
                        columnDefs: [
                            { headerName: "Hub Interaction Id", field: "hub_interaction_id", filter: "agTextColumnFilter" , cellRenderer: 'agGroupCellRenderer'},
                            {
                                headerName: "Submission Date",
                                field: "submitted_date_time",
                                sort: "desc",
                                filter: "agTextColumnFilter",
                                valueFormatter: AGGridAide.dateTimeValueFormatter()
                            }
                        ],
                        defaultColDef: {
                            flex: 1
                        },
                        masterDetail: true,
                        //Level2 - Detail Grid 2 Renderer
                        detailCellRendererParams: {
                            detailGridOptions: {
                                //Level2 - Detail Grid 2 Columns
                                columnDefs: [
                                    {
                                        headerName: "Question", field: "question", filter: "agTextColumnFilter",
                                        valueGetter: (params) => {
                                            return params.data.question ?? "No observation provided";
                                        }
                                    },
                                    {
                                        headerName: "Answer", field: "answer", filter: "agTextColumnFilter",
                                        valueGetter: (params) => {
                                            return params.data.answer ?? "No value provided";
                                        }
                                    }
                                ],
                                defaultColDef: {
                                    flex: 1
                                }
                            },
                            detailRowHeight: 500,
                            getDetailRowData: params => {
                                //Level2 - Detail Grid 2 Row Data
                                // Show questions and answers specific to organization
                                const patientMRN = params.data.patient_mrn;
                                const interactionId = params.data.hub_interaction_id;
                                fetch(window.shell.serverSideUrl(`/api/ux/tabular/jooq/${schemaName}/${detailTable2ViewName}/hub_interaction_id/${interactionId}/patient_mrn/${patientMRN}.json`))
                                    .then(response => response.json())
                                    .then(response => {
                                        params.successCallback(response);
                                    })
                                    .catch(error => {
                                        console.error('Error fetching details data' + error);
                                    });
                            }
                        }
                    },
                    getDetailRowData: params => {
                        const value = params.data.patient_mrn;
                        const qeName = params.data.qe_name
                        fetch(window.shell.serverSideUrl(`/api/ux/tabular/jooq/${schemaName}/${detailTable1ViewName}/qe_name/${qeName}/patient_mrn/${value}.json`))
                            .then(response => response.json())
                            .then(response => {
                                console.log(response);
                                params.successCallback(response);
                            })
                            .catch(error => {
                                console.error('Error fetching details data' + error);
                            });
                    }
                })
                .withMasterDetail(true)
                .withModalAide(modalAide)
                .withGridDivStyles({ height: "750px", width: "100%" })
                .build();
            agGridInstance.init('serverDataGrid');
        });
    </script>
</head>

<body>
    <div layout:fragment="content">
        <div id="serverDataGrid" class="ag-theme-alpine"></div>
    </div>

</body>

</html>