<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/prime}">

<head>
   
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">

    <style>
        .grid-description {
            font-size: 14px;
            margin: 5px 0px 8px 15px;
        }

        .grid-title {
            font-size: 18px;
            font-weight: bold;
            margin: 12px 0px 11px 15px;
        }
        li {
            margin-bottom: 10px;
        }

        #date-picker-container {
            margin-top: 20px;
            display: flex;
            gap: 10px;  
            align-items: center;  
            justify-content: flex-start;
        }

        .date-picker-label{      
            width: 100px;
            line-height: 35px;
        }

        .date-picker-label {
            text-align: right;
        }

        #searchButton {
            margin-left: 10px;
            background-color: #e7e7e7;
            border: none;
            border-radius: 12px;
            color: black;
            padding: 15px 24px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
        }

        #clearButton {
            margin-left: 10px;
            background-color: #e7e7e7;
            border: none;
            border-radius: 12px;
            color: black;
            padding: 15px 24px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            display: none;
        }

        </style>
    <!-- if JSON Viewer is not already in the layout, add the following -->
    <!-- <script src="https://unpkg.com/@alenaksu/json-viewer@2.0.0/dist/json-viewer.bundle.js"></script> -->

    <th:block th:insert="./fragments/common-head-aggrid :: common-head-aggrid"></th:block>
    <script src="https://www.jsviews.com/download/jsrender.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <script type="module">
        import { AGGridAide, AGGridAideBuilder } from '@presentation/shell/aggrid-aide.js';
        import ModalAide from '@presentation/shell/modal-aide.js';
        import { Helpers } from '@presentation/shell/helpers.js';
        import { FhirViewer } from '@presentation/shell/fhir-view.js';
        customElements.define('fhir-viewer', FhirViewer);

        const schemaName = 'techbd_udi_ingress';
        const scnView = 'fhir_scn_submission'; 
        const storedProcName = 'get_fhir_scn_submission';
        const scnSubmissionDetailsSP = 'get_fhir_scn_submission_details';
        const scnDetailView = 'fhir_scn_submission_details';
        const expanColumnDefn = [
            { headerName: "Org Name", field: "qe_name", filter: "agTextColumnFilter" },
            {
                headerName: "Total Msgs", field: "qe_total_submissions",  filter: "agNumberColumnFilter" 
            },
            { headerName: "Successful Msgs", field: "success_submissions", filter: "agNumberColumnFilter" }, 
            { headerName: "Failed Msgs", field: "faield_submissions", filter: "agNumberColumnFilter" },
            {
                    headerName: "Discarded Msgs",
                    valueGetter: (params) => {
                        const total = Number(params.data.qe_total_submissions) || 0;
                        const success = Number(params.data.success_submissions) || 0;
                        const failed = Number(params.data.faield_submissions) || 0;
                        return total - success - failed;
                    },
                    filter: "agNumberColumnFilter"
            }
        ];

        // Format dates as "mm-dd-yyyy"
        const formatDate = (date) => {
        const month = String(date.getMonth() + 1).padStart(2, '0');
        const day = String(date.getDate()).padStart(2, '0');
        const year = date.getFullYear();
        return `${month}-${day}-${year}`;
        };

        function getExpandGridData(params) { 
            const organization_id = params.data.organization_id;
            const startDate = $('#start-date').datepicker('getDate');
            const endDate = $('#end-date').datepicker('getDate');
            const formattedStartDate = formatDate(startDate); 
            const formattedEndDate = formatDate(endDate);
            
            const storedProcparams = {
                "tenant_id": organization_id,
                "start_date": formattedStartDate,
                "end_date": formattedEndDate,
            };

            const gridRequestBody = {
                "startRow": 0,
                "endRow": 100,
                "rowGroupCols": [],
                "valueCols": [],
                "pivotCols": [],
                "pivotMode": false,
                "groupKeys": [],
                "filterModel": {},
                "sortModel": []
            }

            const paramsJson = encodeURIComponent(JSON.stringify(storedProcparams));

            fetch(window.shell.serverSideUrl(`/api/ux/tabular/jooq/sp/${schemaName}/${scnSubmissionDetailsSP}.json?storedProcparams=${paramsJson}`), {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(gridRequestBody)
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error(`HTTP error! status: ${response.status}`);
                }
                return response.json();
            })
            .then(response => {
                let rowData = response;

                if (!Array.isArray(rowData)) {
                    if (rowData && rowData.rows && Array.isArray(rowData.rows)) {
                      rowData = rowData.rows;
                      } else if(rowData && rowData.data && Array.isArray(rowData.data)){
                        rowData = rowData.data; 
                      } else {
                        console.error("Unexpected response format:", response);
                        rowData = [];
                        alert('Unexpected response format from API call!');
                        }

                }
                params.successCallback(rowData , rowData.length);
            })
            .catch(error => {
                console.error('Error fetching details data: ' + error);
                params.failCallback();
                modalAide.showMessage('Error', 'Failed to load details. Please try again later.' , 'danger'); 
            });
        }
        document.addEventListener('DOMContentLoaded', function () {
            const modalAide = new ModalAide();
            const helpers = new Helpers();

            const today = new Date();
            const oneWeekAgo = new Date(today);
            oneWeekAgo.setDate(today.getDate() - 7);

            let initialStartDate = formatDate(oneWeekAgo);
            let initialEndDate = formatDate(today);

            // Datepicker Initialization: moved outside url fetch because those date format use only after click submit button       
            $("#start-date, #end-date").datepicker({
                dateFormat: "mm-dd-yy",
                onSelect: function() {
                    const startDate = $('#start-date').datepicker('getDate');
                    const endDate = $('#end-date').datepicker('getDate');
                    const formattedStartDate = formatDate(startDate);
                    const formattedEndDate = formatDate(endDate);

                    if (formattedStartDate !== initialStartDate || formattedEndDate !== initialEndDate) {
                        $('#clearButton').show();
                    } else {
                        $('#clearButton').hide();
                    }
                }
            });

            $("#start-date").datepicker("setDate", oneWeekAgo);
            $("#end-date").datepicker("setDate", today);

            updateGridWithDates(oneWeekAgo, today);

            // Search Button Click Handler
            $('#searchButton').click(function() {
                $('#serverDataGrid').empty();
                const startDate = $('#start-date').datepicker('getDate');
                const endDate = $('#end-date').datepicker('getDate');
                updateGridWithDates(startDate, endDate);
            });

            $('#clearButton').click(function() {
               location.reload();
            });

            function updateGridWithDates(oneWeekAgo, today) {

                const formattedStartDate = formatDate(oneWeekAgo);
                const formattedEndDate = formatDate(today);

                const storedProcparams = {
                    "start_date": formattedStartDate,
                    "end_date": formattedEndDate
                };

                helpers.injectDateRangeText('date-range', 'This Widget provides an overview of message interactions from Screening/Referral/Assessment Centers (SCNs) sent to Tech By Design from <b>{startDate}</b> to <b>{endDate}</b>. The grid presents a breakdown of message activity by SCN, displaying distinct SCN names and message counts across various statuses.');

                const paramsJson = encodeURIComponent(JSON.stringify(storedProcparams));
                const url = `/api/ux/tabular/jooq/sp/${schemaName}/${storedProcName}.json?storedProcparams=${paramsJson}`;

                const agGridInstance = new AGGridAideBuilder()
                .withColumnDefs([
                    { headerName: "SCN Name", field: "organization_id", filter: "agTextColumnFilter", cellRenderer: 'agGroupCellRenderer', tooltipField: 'lists name of the unique SCNs that have submitted screenings, referrals, or assessments.'}, 
                    { headerName: "Total Msgs", field: "qe_total_submissions", filter: "agNumberColumnFilter", tooltipField: 'Total number of messages submitted by the SCN.' },
                    { headerName: "Successful Msgs", field: "success_submissions", filter: "agNumberColumnFilter", tooltipField: 'Number of messages that received successful responses from the Data Lake.' }, 
                    { headerName: "Failed Msgs", field: "failed_submissions", filter: "agNumberColumnFilter", tooltipField: 'Number of messages that failed during processing in the Data Lake.' },
                    {
                    headerName: "Discarded Msgs", tooltipField: 'Messages that were discarded before submission to the Data Lake due to errors or invalid data in the records.',
                    valueGetter: (params) => {
                        const total = Number(params.data.qe_total_submissions) || 0;
                        const success = Number(params.data.success_submissions) || 0;
                        const failed = Number(params.data.failed_submissions) || 0;
                        return total - success - failed;
                    },
                    filter: "agNumberColumnFilter"
            }
                ])
                .withServerSideDatasource(
                    window.shell.serverSideUrl(url),
                    (data, valueCols) => {
                        return valueCols.map(col => ({
                            headerName: col.displayName,
                            field: col.field
                        }));
                    },
                )
                .withMasterDetail(true)
                .withDetailCellRendererParams({
                    detailGridOptions: {
                        columnDefs: expanColumnDefn,
                        defaultColDef: {
                            flex: 1
                        }
                    },
                    getDetailRowData: params => {
                        getExpandGridData(params);
                    }
                })
                .withDetailRowAutoHeight(false)
                .withModalAide(modalAide)
                .withGridDivStyles({ height: "750px", width: "100%" })
                .build();

            agGridInstance.init('serverDataGrid');
            }
        });
    </script>
</head>

<body>
    <div layout:fragment="content">
        <div class="text-lg font-bold my-3 ml-4" >  Report for Messages by SCN </div>
        <div class="grid-description  ">  
            <div id="date-range">
                <!-- The date range will be injected here -->
            </div>
            
        
        <ul class="list-disc pl-4 pt-3"> 
            <li>Column 1: SCN Name –  lists name of the unique SCNs that have submitted screenings, referrals, or assessments. 
            </li>
            <li>Column 2: Total Msgs – Total number of messages submitted by the SCN.
            </li>
            <li>Column 3: Successful Msgs – Number of messages that received successful responses from the Data Lake.
            </li>
            <li>Column 4: Failed Msgs – Number of messages that failed during processing in the Data Lake.
            </li> 
            <li>Column 5: Discarded Msgs – Messages that were discarded before submission to the Data Lake due to errors or invalid data in the records.
            </li> 
        </ul> 
        Each row in the grid is expandable, similar to the existing Organization grid, allowing a detailed view of message routing through different Qualified Entities (QEs) for each SCN.
         Expanded rows provide a breakdown of message totals for each QE, with the SCN row acting as a "totals" row for the corresponding QE breakdown beneath it.
        </div>
        <div id="date-picker-container">
            <label for="start-date" class="date-picker-label">Start Date:</label>
            <input type="text" id="start-date" name="start-date" readonly>
            <label for="end-date" class="date-picker-label">End Date:</label>
            <input type="text" id="end-date" name="end-date" readonly>
            <button id="searchButton">Search</button>
            <button id="clearButton">Clear</button>
        </div>
        <div id="serverDataGrid" class="ag-theme-alpine"></div>
    </div>
</body>

</html>