<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/prime}">

<head>
    <link rel="stylesheet" href="https://unpkg.com/ag-grid-community/styles/ag-grid.css">
    <link rel="stylesheet" href="https://unpkg.com/ag-grid-community/styles/ag-theme-alpine.css">

    <!-- if JSON Viewer is not already in the layout, add the following -->
    <!-- <script src="https://unpkg.com/@alenaksu/json-viewer@2.0.0/dist/json-viewer.bundle.js"></script> -->

    <script src="https://unpkg.com/ag-grid-enterprise/dist/ag-grid-enterprise.js"></script>
    <script src="https://www.jsviews.com/download/jsrender.js"></script>
    <script type="module">
        import { AGGridAide, AGGridAideBuilder } from '@presentation/shell/aggrid-aide.js';
        import ModalAide from '@presentation/shell/modal-aide.js';

        import { FhirViewer } from '@presentation/shell/fhir-view.js';
        customElements.define('fhir-viewer', FhirViewer);

        const schemaName = 'techbd_udi_ingress';
        const viewName = 'fhir_screening_info';
        const popViewName = 'fhir_screening_detail';
        document.addEventListener('DOMContentLoaded', function () {
            const modalAide = new ModalAide();
            const agGridInstance = new AGGridAideBuilder()
                .withColumnDefs([
                    { headerName: "QE Name", field: "qe_name", filter: "agTextColumnFilter" },
                    {
                        headerName: "Patient MRN",
                        field: "patient_mrn",
                        filter: "agTextColumnFilter",
                        cellRenderer: params => {
                            const patientMrn = params.value;
                            const hubInteractionId = params.data.hub_interaction_id;
                            console.log(hubInteractionId);
                            const button = document.createElement('button');
                            button.innerText = patientMrn;
                            button.addEventListener('click', () => {
                                if (hubInteractionId) {
                                    modalAide.showFhirViewer(window.shell.serverSideUrl(`/api/ux/tabular/jooq/${schemaName}/${popViewName}/hub_interaction_id/${hubInteractionId}.json`));
                                } else {
                                    console.error('hub_interaction_id is undefined');
                                }
                            });
                            return button;
                        }
                    },
                    { headerName: "First Name", field: "first_name", filter: "agTextColumnFilter" },
                    { headerName: "Last Name ", field: "last_name", filter: "agTextColumnFilter" },
                    {
                        headerName: "Date",
                        field: "survey_date_time",
                        filter: "agNumberColumnFilter",
                        valueFormatter: AGGridAide.isoDateTimeValueFormatter()
                    },

                    { headerName: "Areas of Interest ", field: "areas_of_interest", filter: "agTextColumnFilter" },
                    { headerName: "Total Safety Score", field: "total_safety_score", filter: "agTextColumnFilter" },
                    {
                        headerName: "Submission Date",
                        field: "submitted_date_time",
                        sort: "desc",
                        filter: "agNumberColumnFilter",
                        valueFormatter: AGGridAide.dateTimeValueFormatter()
                    }
                ])
                .withServerSideDatasource(
                    window.shell.serverSideUrl(`/api/ux/tabular/jooq/${schemaName}/${viewName}.json`),
                    (data, valueCols) => {
                        return valueCols.map(col => ({
                            headerName: col.displayName,
                            field: col.field
                        }));
                    },
                )
                .withModalAide(modalAide)
                .withGridDivStyles({ height: "750px", width: "100%" })
                .build();

            agGridInstance.init('serverDataGrid');
        });
    </script>
</head>

<body>
    <div layout:fragment="content">
        <div id="serverDataGrid" class="ag-theme-alpine"></div>
    </div>
</body>

</html>