<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/sundry-single-level}">

<head> 

    <!-- if JSON Viewer is not already in the layout, add the following -->
    <!-- <script src="https://unpkg.com/@alenaksu/json-viewer@2.0.0/dist/json-viewer.bundle.js"></script> -->

    <th:block th:insert="./fragments/common-head-aggrid :: common-head-aggrid"></th:block>
    <script type="module">
        import { AGGridAide, AGGridAideBuilder } from '@presentation/shell/aggrid-aide.js';
        import ModalAide from '@presentation/shell/modal-aide.js';

        const schemaName = 'techbd_udi_ingress';
        const viewName = 'cron_job_details';
        document.addEventListener('DOMContentLoaded', function () {
            const modalAide = new ModalAide();
            const agGridInstance = new AGGridAideBuilder()
                .withColumnDefs([
                    { headerName: "Job", field: "diagnostic_log_message", filter: "agTextColumnFilter",headerTooltip: "Name of the cron job"  },
                    { headerName: "Status", field: "final_status", filter: "agTextColumnFilter",headerTooltip: "Status of the cron job run"  },
                    { headerName: "Start Time", field: "start_time", filter: "agDateColumnFilter", headerTooltip: "Time at which the cron run started in EST" },
                    { headerName: "End Time", field: "end_time", filter: "agDateColumnFilter", headerTooltip: "Time at which the cron run ended in EST" },
                    { headerName: "Error", field: "error", filter: "agTextColumnFilter",headerTooltip: "Error from the cron job run"  },
                    { headerName: "Remediation", field: "remediation", filter: "agTextColumnFilter",headerTooltip: "Error from the cron job run"  }
                ])
                .withServerSideDatasource(
                    window.shell.serverSideUrl(`/api/ux/tabular/jooq/${schemaName}/${viewName}.json`),
                    (data, valueCols) => {
                        return valueCols.map(col => ({
                            headerName: col.displayName,
                            field: col.field
                        }));
                    },
                )
                .withModalAide(modalAide)
                .withGridDivStyles({ height: "750px", width: "100%" })
                .build();

            agGridInstance.init('serverDataGrid');
        });
    </script>    
</head>

<body>
    <div layout:fragment="content">
        <div id="serverDataGrid" class="ag-theme-alpine"></div>
    </div>
</body>

</html>