<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/sundry-single-level}">

<head>
    <th:block th:insert="./fragments/common-head-aggrid :: common-head-aggrid"></th:block>
    <!-- if JSON Viewer is not already in the layout, add the following -->
    <!-- <script src="https://unpkg.com/@alenaksu/json-viewer@2.0.0/dist/json-viewer.bundle.js"></script> -->

    
    <script type="module">
        import { AGGridAide, AGGridAideBuilder } from '@presentation/shell/aggrid-aide.js';
        import ModalAide from '@presentation/shell/modal-aide.js';

        const schemaName = 'techbd_udi_ingress';
        const viewName = 'islm_migration_state';
        document.addEventListener('DOMContentLoaded', function () {
            const modalAide = new ModalAide();
            const agGridInstance = new AGGridAideBuilder()
                .withColumnDefs([
                    { headerName: "Migration Time", field: "migrated_at", sortable: true, filter: "agDateColumnFilter", headerTooltip: "Time at which the migration occured in EST" },
                    { headerName: "Version", field: "migration_version", filter: "agTextColumnFilter",headerTooltip: "Migration version"  },
                    { headerName: "Migration Reason", field: "migration_reason", filter: "agTextColumnFilter",headerTooltip: "Reason for this migration"  },
                    { headerName: "Idempotent", field: "is_idempotent", filter: "agTextColumnFilter",headerTooltip: "If the migration is idempotent(true) or stateful(false)"  },
                    { headerName: "Migration Status", field: "is_migrated", filter: "agTextColumnFilter",headerTooltip: " Miration status"  },
                    { headerName: "From State", field: "from_state", filter: "agTextColumnFilter",headerTooltip: "State from which the migration status is changed"  },
                    { headerName: "To State", field: "to_state", filter: "agTextColumnFilter",headerTooltip: "State to which the migration status is changed" },
                    { headerName: "Transition Count", field: "transition_count" , filter: "agTextColumnFilter",headerTooltip: "Repetition count of the particular migration run in a particular state transition" },
                    { headerName: "Migration Routine Name", field: "migration_routine_name" , filter: "agTextColumnFilter",headerTooltip: "Name of the Migration Procedure", tooltipValueGetter: (p) =>
                    "Click to see the "+ p.value + "() routine",cellRenderer:function(params) {
                        if (params.value) {
                            var link = document.createElement('a');
                            link.href = '/console/schema?page='+params.value;
                            link.innerText = params.value;
                            link.target = '_blank'; // Opens the URL in a new tab
                            link.style.textDecoration = 'underline';
                            return link;                            
                        } else {
                            return null;
                        }
                    }}
                ])
                .withServerSideDatasource(
                    window.shell.serverSideUrl(`/api/ux/tabular/jooq/${schemaName}/${viewName}.json`),
                    (data, valueCols) => {
                        return valueCols.map(col => ({
                            headerName: col.displayName,
                            field: col.field
                        }));
                    },
                )
                .withModalAide(modalAide)
                .withGridDivStyles({ height: "750px", width: "100%" })
                .build();

            agGridInstance.init('serverDataGrid');
        });
    </script>    
</head>

<body>
    <div layout:fragment="content">
        <div id="serverDataGrid" class="ag-theme-alpine"></div>
    </div>
</body>

</html>