<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Navigation Fragments</title>
</head>

<body>
    <nav th:fragment="main-menu-horiz-and-authn-profile" class="bg-gray-800 sticky top-0 z-10">
        <div class="mx-auto max-w-9xl px-4 sm:px-6 lg:px-8">
            <div class="flex h-16 items-center justify-between">
                <div class="flex items-center">
                    <div class="flex-shrink-0">
                        <script>
                            fetch('https://api.ipify.org?format=json')
                            .then(response => response.json())
                            .then(data => {
                                // Once you have the IP address, pass it to the server
                                document.cookie = "clientIp=" + data.ip;            
                            })
                            .catch(error => console.error('Error fetching client IP:', error));
                        </script>
                        <div><img class="h-8 mr-2 float-left" src="/tech-by-design_hub_reverse_small.png" alt="Technology by Design"></div>
                        <!-- <div class="text-gray-300 text-sm font-medium py-2 w-40">Tech by Design Hub</div> -->
                        <!-- <img class="h-8 w-8" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=500"
                            alt="Technology by Design"> -->
                    </div>
                    <div id="nav-prime" class="hidden md:block">
                        <div class="ml-10 flex items-baseline space-x-4">
                            <span><a th:each="navItem: ${navPrime}"  th:if="${navItem.text} != 'Needs Attention'" th:attr="href=@{${navItem.href.orElse('?')}}"
                                th:text="${navItem.text}"
                                class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">Label</a>
                            </span>
                        </div>

                    </div>
                </div>
                <div class="hidden md:block">
                    <div class="ml-4 mt-2 flex items-center md:ml-6">
                        <a class="text-gray-300 border border-gray-600 hover:bg-gray-700 hover:text-white rounded-md ml-2 font-semibold md:px-6 px-2 py-1 shadow-none text-sm px-5 py-2.5 text-center inline-flex items-center dark:focus:ring-[#3b5998]/55 me-2 mb-2" href="https://github.com/tech-by-design/help-desk-non-phi">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4 me-2">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M9.879 7.519c1.171-1.025 3.071-1.025 4.242 0 1.172 1.025 1.172 2.687 0 3.712-.203.179-.43.326-.67.442-.745.361-1.45.999-1.45 1.827v.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9 5.25h.008v.008H12v-.008Z" />
                            </svg>
                            Help Desk
                        </a>                       
                        <div class="ml-8 text-gray-400">v<span th:text="${appVersion}"></span></div>
                        <button type="button" id="nav-prime-notification"
                            class="relative rounded-full bg-gray-800 p-1 text-gray-400 hover:text-white focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800">
                            <span class="absolute -inset-1.5"></span>
                            <span class="sr-only">View notifications</span>
                            <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" aria-hidden="true">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M14.857 17.082a23.848 23.848 0 005.454-1.31A8.967 8.967 0 0118 9.75v-.7V9A6 6 0 006 9v.75a8.967 8.967 0 01-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 01-5.714 0m5.714 0a3 3 0 11-5.714 0" />
                            </svg>
                        </button>

                        <!-- Profile dropdown -->
                        <div class="relative ml-3">
                            <div>
                                <button type="button"
                                    class="relative flex max-w-xs items-center rounded-full bg-gray-800 text-sm text-white focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800"
                                    id="user-menu-button" aria-expanded="false" aria-haspopup="true">
                                    <span class="absolute -inset-1.5"></span>
                                    <span class="sr-only">Open user menu</span>
                                    <div sec:authorize="isAuthenticated()">
                                        <div class="relative group">
                                            <a th:href="${#authentication.getPrincipal().attributes['html_url']}" id="principal_html">
                                                <img th:src="${#authentication.getPrincipal().attributes['avatar_url']}" class="h-8 w-8 rounded-full" alt="User Profile" id="principal_image" />
                                            </a>
                                            <div class="absolute opacity-0 group-hover:opacity-100 invisible group-hover:visible !cursor-default z-10 mt-2 w-48 origin-top-right right-2 rounded-md bg-white py-2 shadow-lg ring-1 ring-black ring-opacity-5 transition-[opacity] duration-300"
                                             role="menu" aria-orientation="vertical" aria-labelledby="user-menu-button" tabindex="-1">
                                                <a href="#" class="block px-2 py-2 text-sm text-gray-700 text-left leading-[1.75rem] cursor-defualt" role="menuitem" tabindex="-1" id="user-menu-item-0">
                                                    <div>
                                                        Name: <span sec:authentication="principal.attributes['name']"></span>
                                                    </div>
                                                    <div>
                                                        ID: <span sec:authentication="principal.attributes['login']"></span>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div sec:authorize="!isAuthenticated()">
                                        <!-- this should never happen since we're authn-only -->
                                        <div class="relative group">
                                            <a href="#" id="principal_html">
                                                <img class="h-8 w-8 rounded-full"
                                                    src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
                                                    alt="" />
                                            </a>
                                        </div>
                                    </div>
                                </button>
                            </div>

                            <!-- TODO: profile is hidden, needs to be enabled -->
                            <!--
                                Dropdown menu, show/hide based on menu state.
                
                                Entering: "transition ease-out duration-100"
                                    From: "transform opacity-0 scale-95"
                                    To: "transform opacity-100 scale-100"
                                Leaving: "transition ease-in duration-75"
                                    From: "transform opacity-100 scale-100"
                                    To: "transform opacity-0 scale-95"
                            -->
                            <div class="hidden absolute right-0 z-10 mt-2 w-48 origin-top-right rounded-md bg-white py-1 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none"
                                role="menu" aria-orientation="vertical" aria-labelledby="user-menu-button"
                                tabindex="-1">
                                <!-- Active: "bg-gray-100", Not Active: "" -->
                                <a href="#" class="block px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1"
                                    id="user-menu-item-0">Your Profile</a>
                                <a href="#" class="block px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1"
                                    id="user-menu-item-1">Settings</a>
                                <a href="#" class="block px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1"
                                    id="user-menu-item-2">Sign out</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="-mr-2 flex md:hidden">
                    <!-- Mobile menu button -->
                    <button type="button"
                        class="relative inline-flex items-center justify-center rounded-md bg-gray-800 p-2 text-gray-400 hover:bg-gray-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800"
                        aria-controls="mobile-menu" aria-expanded="false">
                        <span class="absolute -inset-0.5"></span>
                        <span class="sr-only">Open main menu</span>
                        <!-- Menu open: "hidden", Menu closed: "block" -->
                        <svg class="block h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" aria-hidden="true">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                        </svg>
                        <!-- Menu open: "block", Menu closed: "hidden" -->
                        <svg class="hidden h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" aria-hidden="true">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                        </svg>
                    </button>
                </div>
            </div>
        </div>
    </nav>

    <!-- 
        This <nav id="nav-breadcrumbs"> element contains breadcrumb navigation 
        that is hidden by default but can be edited as a natural template.
        It is filled in by the LayoutAide.breadcrumbs() method.
        -->
    <nav th:fragment="breadcrumbs" id="nav-breadcrumbs" class="hidden flex mx-auto max-w-9xl py-2 sm:px-6 lg:px-8" aria-label="Breadcrumb">
        <ol class="inline-flex items-center space-x-1 md:space-x-2 rtl:space-x-reverse">
            <li id="breadcrumb-home" class="inline-flex items-center">
                <a href="/home"
                    class="inline-flex items-center text-sm font-medium text-gray-700 hover:text-blue-600 dark:text-gray-400 dark:hover:text-white">
                    <svg class="w-3 h-3 me-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                        fill="currentColor" viewBox="0 0 20 20">
                        <path
                            d="m19.707 9.293-2-2-7-7a1 1 0 0 0-1.414 0l-7 7-2 2a1 1 0 0 0 1.414 1.414L2 10.414V18a2 2 0 0 0 2 2h3a1 1 0 0 0 1-1v-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v4a1 1 0 0 0 1 1h3a2 2 0 0 0 2-2v-7.586l.293.293a1 1 0 0 0 1.414-1.414Z" />
                    </svg>
                    Home
                </a>
            </li>
            <!-- this is the "template" which will be cloned for each of the inner breadcrumb items -->
            <li id="breadcrumb-inner-template" class="breadcrumb-inner">
                <div class="flex items-center">
                    <svg class="rtl:rotate-180 w-3 h-3 text-gray-400 mx-1" aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="m1 9 4-4-4-4" />
                    </svg>
                    <a href="#"
                        class="ms-1 text-sm font-medium text-gray-700 hover:text-blue-600 md:ms-2 dark:text-gray-400 dark:hover:text-white">Inner</a>
                </div>
            </li>
            <li id="breadcrumb-terminal" aria-current="page">
                <div class="flex items-center">
                    <svg class="rtl:rotate-180 w-3 h-3 text-gray-400 mx-1" aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="m1 9 4-4-4-4" />
                    </svg>
                    <span class="ms-1 text-sm font-medium text-gray-500 md:ms-2 dark:text-gray-400">Terminal</span>
                </div>
            </li>
        </ol>
    </nav>


    <nav th:fragment="footer" id="nav-footer" class="flex mx-auto max-w-9xl dark:bg-gray-900" aria-label="Footer">
        <div class="mx-auto w-full max-w-9xl p-4 py-6 lg:py-8">
            <div class="md:flex md:justify-between">
              <div class="mb-6 md:mb-0">
                  <a href="/home" class="flex items-center">
                      <!--<img class="h-8 me-3 pl-6" src="/techbd-logo.svg" alt="Technology by Design">-->
                      <img src="/tech-by-design_full-color.svg" class="h-16 me-3 pl-6" alt="Technology by Design" />
                      <!-- <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">Tech by Design</span> -->
                  </a>
              </div>
              <div class="grid grid-cols-2 gap-8 sm:gap-6 sm:grid-cols-5">
                <div>
                      <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white">Content</h2>
                      <ul class="text-gray-500 dark:text-gray-400 font-medium">
                        <li class="mb-4">
                            <a href="/content/screenings" class="hover:underline">Screenings</a>
                        </li>
                          <li class="mb-4">
                              <a href="/content/patients" class="hover:underline">Patients</a>
                          </li>
                          <li class="mb-4">
                              <a href="/content/organizations" class="hover:underline">Organizations</a>
                          </li> 
                      </ul>
                  </div>
                  <div>
                      <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white">Data Quality</h2>
                      <ul class="text-gray-500 dark:text-gray-400 font-medium">
                        <li class="mb-4">
                            <a href="/data-quality/needs-attention" class="hover:underline">Needs Attention</a>
                        </li>
                          <li class="mb-4">
                              <a href="/data-quality/sftp" class="hover:underline">Flat File (CSV) Data Quality</a>
                          </li>
                          <li class="mb-4">
                              <a href="/data-quality/sftp-rejected" class="hover:underline">Flat File (CSV) Data Quality REJECTION</a>
                          </li>
                          <li class="mb-4">
                            <a href="/data-quality/fhir-validation-issues" class="hover:underline">FHIR Data Quality</a>
                          </li>
                          <li class="mb-4">
                            <a href="/data-quality/ig-publication-issues" class="hover:underline">IG Publication Issues</a>
                          </li>
                      </ul>
                  </div>
                  <div>
                      <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white">Interactions</h2>
                      <ul class="text-gray-500 dark:text-gray-400 font-medium">
                          <li class="mb-4">
                              <a href="/interactions/httpsfhir" class="hover:underline ">FHIR via HTTPs</a>
                          </li>
                          <li class="mb-4">
                              <a href="/interactions/httpsfailed" class="hover:underline">FHIR via HTTPs FAILED</a>
                          </li>
                          <li class="mb-4">
                            <a href="/interactions/sftp" class="hover:underline">CSV via SFTP (recent 10 egress)</a>
                        </li>
                        <li class="mb-4">
                            <a href="/interactions/orchctl" class="hover:underline">CSV via SFTP (DB)</a>
                        </li>
                        <li class="mb-4">
                            <a href="/interactions/https" class="hover:underline">HTTP Interactions</a>
                        </li>
                        <li class="mb-4">
                            <a href="/interactions/observe" class="hover:underline">Performance Overview</a>
                        </li>
                        <li class="mb-4">
                            <a href="/interactions/provenance" class="hover:underline">Provenance</a>
                        </li>
                        <li class="mb-4">
                            <a href="/interactions/user/observe" class="hover:underline">User Sessions</a>
                        </li>
                      </ul>
                  </div>
                  <div>
                      <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white">Documentation</h2>
                      <ul class="text-gray-500 dark:text-gray-400 font-medium">
                          <li class="mb-4">
                              <a href="/docs/techbd-hub" class="hover:underline">Tech by Design Hub</a>
                          </li>
                          <li class="mb-4">
                            <a href="/docs/shinny-fhir-ig" class="hover:underline">SHIN-NY FHIR IG</a>
                        </li>
                          <li class="mb-4">
                              <a href="/docs/swagger-ui" class="hover:underline">OpenAPI UI</a>
                          </li>
                        <li class="mb-4">
                            <a href="/docs/announcements" class="hover:underline">Announcements</a>
                        </li>
                      </ul>
                  </div>
                  <div>
                    <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white">Console</h2>
                    <ul class="text-gray-500 dark:text-gray-400 font-medium">
                        <li class="mb-4">
                            <a href="/console/cert-engine-scorecard" class="hover:underline ">Certification Engine Scorecard</a>
                        </li>
                        <li class="mb-4">
                            <a href="/console/hrsn-viewer-app" class="hover:underline ">HRSN Viewer</a>
                        </li>
                        <li class="mb-4">
                            <a href="/console/health-info" class="hover:underline ">Health Information</a>
                        </li>
                        <li class="mb-4">
                            <a href="/console/project" class="hover:underline ">Project</a>
                        </li>
                        <li class="mb-4">
                            <a href="/console/schema" class="hover:underline ">Schema</a>
                        </li>
                        <li class="mb-4">
                            <a href="/console/islm" class="hover:underline ">ISLM Migration</a>
                        </li>
                        </ul>
                </div>
              </div>
          </div>
          <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
          <div class="sm:flex sm:items-center sm:justify-between">
              <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2024 <a href="/home" class="hover:underline">Tech by Design™</a>. All Rights Reserved.
              </span>
              <div class="flex mt-4 sm:justify-center sm:mt-0">
                  <a href="#" class="text-gray-500 hover:text-gray-900 dark:hover:text-white ms-5"  title="Discord community">
                      <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 21 16">
                            <path d="M16.942 1.556a16.3 16.3 0 0 0-4.126-1.3 12.04 12.04 0 0 0-.529 1.1 15.175 15.175 0 0 0-4.573 0 11.585 11.585 0 0 0-.535-1.1 16.274 16.274 0 0 0-4.129 1.3A17.392 17.392 0 0 0 .182 13.218a15.785 15.785 0 0 0 4.963 2.521c.41-.564.773-1.16 1.084-1.785a10.63 10.63 0 0 1-1.706-.83c.143-.106.283-.217.418-.33a11.664 11.664 0 0 0 10.118 0c.137.113.277.224.418.33-.544.328-1.116.606-1.71.832a12.52 12.52 0 0 0 1.084 1.785 16.46 16.46 0 0 0 5.064-2.595 17.286 17.286 0 0 0-2.973-11.59ZM6.678 10.813a1.941 1.941 0 0 1-1.8-2.045 1.93 1.93 0 0 1 1.8-2.047 1.919 1.919 0 0 1 1.8 2.047 1.93 1.93 0 0 1-1.8 2.045Zm6.644 0a1.94 1.94 0 0 1-1.8-2.045 1.93 1.93 0 0 1 1.8-2.047 1.918 1.918 0 0 1 1.8 2.047 1.93 1.93 0 0 1-1.8 2.045Z"/>
                        </svg>
                      <span class="sr-only">Discord community</span>
                  </a>
                  <a href="https://github.com/tech-by-design/polyglot-prime/" target="_blank" class="text-gray-500 hover:text-gray-900 dark:hover:text-white ms-5" title="GitHub account">
                      <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                            <path fill-rule="evenodd" d="M10 .333A9.911 9.911 0 0 0 6.866 19.65c.5.092.678-.215.678-.477 0-.237-.01-1.017-.014-1.845-2.757.6-3.338-1.169-3.338-1.169a2.627 2.627 0 0 0-1.1-1.451c-.9-.615.07-.6.07-.6a2.084 2.084 0 0 1 1.518 1.021 2.11 2.11 0 0 0 2.884.823c.044-.503.268-.973.63-1.325-2.2-.25-4.516-1.1-4.516-4.9A3.832 3.832 0 0 1 4.7 7.068a3.56 3.56 0 0 1 .095-2.623s.832-.266 2.726 1.016a9.409 9.409 0 0 1 4.962 0c1.89-1.282 2.717-1.016 2.717-1.016.366.83.402 1.768.1 2.623a3.827 3.827 0 0 1 1.02 2.659c0 3.807-2.319 4.644-4.525 4.889a2.366 2.366 0 0 1 .673 1.834c0 1.326-.012 2.394-.012 2.72 0 .263.18.572.681.475A9.911 9.911 0 0 0 10 .333Z" clip-rule="evenodd"/>
                      </svg>
                      <span class="sr-only">GitHub account</span>
                  </a>
              </div>
          </div>
        </div>
    </nav>

</body>

</html>