# Rename this file to `.env` from `.env.sample`
# Follow README for more information.

DEPLOYMENT_DOMAIN=localhost:8000
REPO_URL=https://github.com/tech-by-design/polyglot-prime.git
DATE=0001-01-01
TAG=0.67.2
SEMAPHORE=1

# use `sandbox` (localhost), `devl`, `stage`, `prod`
SPRING_PROFILES_ACTIVE=devl
TECHBD_UDI_DS_PRIME_JDBC_URL=jdbc:postgresql://aws.neon.tech/persistence-stage
TECHBD_UDI_DS_PRIME_JDBC_USERNAME=persistence-stage
TECHBD_UDI_DS_PRIME_JDBC_PASSWORD=**********

# these are the `orchctl.ts` SFTP accounts that will be made browsable;
# ensure sequence of _0_, _1_, etc. are correct, they map to
# org.techbd.orchestrate.sftp.account.orchctlts in application.yml

ORG_TECHBD_ORCHESTRATE_SFTP_ACCOUNT_ORCHCTLTS_0_TENANTID=xxxx
ORG_TECHBD_ORCHESTRATE_SFTP_ACCOUNT_ORCHCTLTS_0_SERVER=xxxx
ORG_TECHBD_ORCHESTRATE_SFTP_ACCOUNT_ORCHCTLTS_0_PORT=xxxx
ORG_TECHBD_ORCHESTRATE_SFTP_ACCOUNT_ORCHCTLTS_0_USERNAME=xxxx
ORG_TECHBD_ORCHESTRATE_SFTP_ACCOUNT_ORCHCTLTS_0_PASSWORD=xxxx

ORG_TECHBD_ORCHESTRATE_SFTP_ACCOUNT_ORCHCTLTS_1_TENANTID=xxxx
ORG_TECHBD_ORCHESTRATE_SFTP_ACCOUNT_ORCHCTLTS_1_SERVER=xxxx
ORG_TECHBD_ORCHESTRATE_SFTP_ACCOUNT_ORCHCTLTS_1_PORT=xxxx
ORG_TECHBD_ORCHESTRATE_SFTP_ACCOUNT_ORCHCTLTS_1_USERNAME=xxxx
ORG_TECHBD_ORCHESTRATE_SFTP_ACCOUNT_ORCHCTLTS_1_PASSWORD=xxxx

ORG_TECHBD_ORCHESTRATE_SFTP_ACCOUNT_ORCHCTLTS_2_TENANTID=xxxx
ORG_TECHBD_ORCHESTRATE_SFTP_ACCOUNT_ORCHCTLTS_2_SERVER=xxxx
ORG_TECHBD_ORCHESTRATE_SFTP_ACCOUNT_ORCHCTLTS_2_PORT=xxxx
ORG_TECHBD_ORCHESTRATE_SFTP_ACCOUNT_ORCHCTLTS_2_USERNAME=xxxx
ORG_TECHBD_ORCHESTRATE_SFTP_ACCOUNT_ORCHCTLTS_2_PASSWORD=xxxx

ORG_TECHBD_ORCHESTRATE_SFTP_ACCOUNT_ORCHCTLTS_3_TENANTID=xxxx
ORG_TECHBD_ORCHESTRATE_SFTP_ACCOUNT_ORCHCTLTS_3_SERVER=xxxx
ORG_TECHBD_ORCHESTRATE_SFTP_ACCOUNT_ORCHCTLTS_3_PORT=xxxx
ORG_TECHBD_ORCHESTRATE_SFTP_ACCOUNT_ORCHCTLTS_3_USERNAME=xxxx
ORG_TECHBD_ORCHESTRATE_SFTP_ACCOUNT_ORCHCTLTS_3_PASSWORD=xxxx

ORG_TECHBD_ORCHESTRATE_SFTP_ACCOUNT_ORCHCTLTS_4_TENANTID=xxxx
ORG_TECHBD_ORCHESTRATE_SFTP_ACCOUNT_ORCHCTLTS_4_SERVER=xxxx
ORG_TECHBD_ORCHESTRATE_SFTP_ACCOUNT_ORCHCTLTS_4_PORT=xxxx
ORG_TECHBD_ORCHESTRATE_SFTP_ACCOUNT_ORCHCTLTS_4_USERNAME=xxxx
ORG_TECHBD_ORCHESTRATE_SFTP_ACCOUNT_ORCHCTLTS_4_PASSWORD=xxxx

ORG_TECHBD_ORCHESTRATE_SFTP_ACCOUNT_ORCHCTLTS_5_TENANTID=xxxx
ORG_TECHBD_ORCHESTRATE_SFTP_ACCOUNT_ORCHCTLTS_5_SERVER=xxxx
ORG_TECHBD_ORCHESTRATE_SFTP_ACCOUNT_ORCHCTLTS_5_PORT=xxxx
ORG_TECHBD_ORCHESTRATE_SFTP_ACCOUNT_ORCHCTLTS_5_USERNAME=xxxx
ORG_TECHBD_ORCHESTRATE_SFTP_ACCOUNT_ORCHCTLTS_5_PASSWORD=xxxx

ORG_TECHBD_ORCHESTRATE_SFTP_ACCOUNT_ORCHCTLTS_6_TENANTID=xxxx
ORG_TECHBD_ORCHESTRATE_SFTP_ACCOUNT_ORCHCTLTS_6_SERVER=xxxx
ORG_TECHBD_ORCHESTRATE_SFTP_ACCOUNT_ORCHCTLTS_6_PORT=xxxx
ORG_TECHBD_ORCHESTRATE_SFTP_ACCOUNT_ORCHCTLTS_6_USERNAME=xxxx
ORG_TECHBD_ORCHESTRATE_SFTP_ACCOUNT_ORCHCTLTS_6_PASSWORD=xxxx

# OAuth Authentication
SPRING_SECURITY_OAUTH2_CLIENT_REGISTRATION_GITHUB_CLIENT_ID=github-auth-app-client-id
SPRING_SECURITY_OAUTH2_CLIENT_REGISTRATION_GITHUB_CLIENT_SECRET=github-auth-app-client-secret

ORG_TECHBD_SERVICE_HTTP_GITHUB_AUTHZ_USERS_YAML_URL=https://raw.githubusercontent.com/tech-by-design/infrastructure-prime/main/sensitive/devl/oauth2-github-authz.yml
ORG_TECHBD_SERVICE_HTTP_GITHUB_API_AUTHN_TOKEN=xxxx
