<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/prime}">

<head>
    <script src='https://unpkg.com/htmx.org/dist/htmx.min.js'></script>
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <title>Welcome</title>
    <style>
        .hanging-indent {
            padding-left: 1.5rem;
            text-indent: -1.5rem;
        }
    </style>
    <script type="module">
        import { Helpers } from '@presentation/shell/helpers.js';
        document.addEventListener('DOMContentLoaded', async function () {
            const helpers = new Helpers();
            // Inject the date range into the HTML
            helpers.injectDateRangeText('dashboard-date-range', 'Submissions from {startDate} to {endDate}');
        });
    </script>
</head>

<body class="bg-gray-100">
    <div layout:fragment="content" class="flex flex-col items-center justify-center p-4 w-full max-w-9xl">
        <img src="/tech-by-design_full-color.svg" class="mb-4 h-auto max-w-xs" />
        <div class="prose bg-white p-8 w-full max-w-6xl">
            <h1 class="text-3xl font-bold mb-4 text-center">Welcome to Tech by Design Collaboration Hub</h1>
            <p class="mb-4 text-center">The central place where New York's finest healthcare institutions can
                collaborate, share, and manage HIE datasets and other assets.</p>
            <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4">
                <ul class="list-disc list-inside pl-8">
                    <li class="mb-2 hanging-indent">The Hub connects HIE data submitters, data consumers, and IT teams.
                        <a th:href="@{/interactions}">Explore FHIR and flat file submissions.</a>
                    </li>
                    <li class="mb-2 hanging-indent">We're an <em></em>open by default</em> community that welcomes
                        contributions across the HIE ecosystem. <a href="https://github.com/tech-by-design">Explore our
                            GitHub projects.</a></li>
                </ul>
                <ul class="list-disc list-inside pl-8">
                    <li class="mb-2 hanging-indent">We help ensure high-quality data submissions and usage. <a
                            th:href="@{/data-quality}">Explore FHIR and flat file validations.</a></li>
                    <li class="mb-2 hanging-indent">The Hub encourages sharing of documentation and code. <a
                            th:href="@{/docs/techbd-hub}">Read the docs</a> and <a th:href="@{/docs/swagger-ui}">Explore
                            our APIs</a>.</li>
                </ul>
                <ul class="list-disc list-inside pl-8">
                    <li class="mb-2 hanging-indent">The Hub efficiently oversees multiple HIE-related projects.</li>
                    <li class="hanging-indent">We facilitate data analysis and insights for business analysts and
                        stakeholders.</li>
                </ul>
            </div>
        </div>

        <div sec:authorize="isAuthenticated()">
            <div>You're logged in as GitHub User <span sec:authentication="principal.attributes['name']"></span> with
                role <code>TODO</code>.</div>
        </div>
        <div sec:authorize="isAnonymous()">
            <div>You're not logged in so you only have guest privileges.</div>
        </div>

        <div class="mt-8 flex flex-col justify-center pb-4 w-full max-w-9xl">
            <div class="text-center font-bold">Recent Direct FHIR Bundles</div>
            <dl class="w-[100%] flex justify-between mt-5 grid gap-5 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5">
                <div
                    th:replace="~{fragments/dashboard :: serverTextStat('HEALTHeLINK', @{/dashboard/stat/fhir/most-recent/healthelink.html})}">
                </div>
                <div
                    th:replace="~{fragments/dashboard :: serverTextStat('Healtheconnections', @{/dashboard/stat/fhir/most-recent/healtheconn.html})}">
                </div>
                <div
                    th:replace="~{fragments/dashboard :: serverTextStat('Healthix', @{/dashboard/stat/fhir/most-recent/healthix.html})}">
                </div>
                <div
                    th:replace="~{fragments/dashboard :: serverTextStat('Rochester', @{/dashboard/stat/fhir/most-recent/grrhio.html})}">
                </div>
                <div
                    th:replace="~{fragments/dashboard :: serverTextStat('HixNY', @{/dashboard/stat/fhir/most-recent/hixny.html})}">
                </div>
            </dl>
        </div>

        <div class="mt-8 flex flex-col justify-center pb-4 w-full max-w-9xl">
            <div class="text-center font-bold">Recent CSV FHIR Bundles</div>
            <dl class="w-[100%] flex justify-between mt-5 grid gap-5 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5">
                <div
                    th:replace="~{fragments/dashboard :: serverTextStat('HEALTHeLINK', @{/dashboard/stat/csv/most-recent/healthelink.html})}">
                </div>
                <div
                    th:replace="~{fragments/dashboard :: serverTextStat('Healtheconnections', @{/dashboard/stat/csv/most-recent/healtheconn.html})}">
                </div>
                <div
                    th:replace="~{fragments/dashboard :: serverTextStat('Healthix', @{/dashboard/stat/csv/most-recent/healthix.html})}">
                </div>
                <div
                    th:replace="~{fragments/dashboard :: serverTextStat('Rochester', @{/dashboard/stat/csv/most-recent/grrhio.html})}">
                </div>
                <div
                    th:replace="~{fragments/dashboard :: serverTextStat('HixNY', @{/dashboard/stat/csv/most-recent/hixny.html})}">
                </div>
            </dl>
        </div>        

         <div class="mt-8 flex flex-col justify-center pb-4 w-full max-w-9xl">
            <div class="text-center font-bold">Recent CCDA FHIR Bundles</div>
            <dl class="w-[100%] flex justify-between mt-5 grid gap-5 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5">
                <div
                    th:replace="~{fragments/dashboard :: serverTextStat('HEALTHeLINK', @{/dashboard/stat/ccda/most-recent/healthelink.html})}">
                </div>
                <div
                    th:replace="~{fragments/dashboard :: serverTextStat('Healtheconnections', @{/dashboard/stat/ccda/most-recent/healtheconn.html})}">
                </div>
                <div
                    th:replace="~{fragments/dashboard :: serverTextStat('Healthix', @{/dashboard/stat/ccda/most-recent/healthix.html})}">
                </div>
                <div
                    th:replace="~{fragments/dashboard :: serverTextStat('Rochester', @{/dashboard/stat/ccda/most-recent/grrhio.html})}">
                </div>
                <div
                    th:replace="~{fragments/dashboard :: serverTextStat('HixNY', @{/dashboard/stat/ccda/most-recent/hixny.html})}">
                </div>
            </dl>
        </div>  

        <!-- <div class="mt-12 w-full grid grid-cols-4 gap-8" id="dashboard-container">
            <div th:replace="fragments/interactions :: serverTextStat"></div>
        </div>
        <div class="mt-12 w-full grid grid-cols-2 gap-8">
            <div>
                <h3 class="text-xl font-bold mb-4">FHIR Submission Summary</h3>
                <pre class=" bg-white p-4 rounded-lg shadow-md">
                    <dl id="pie-chart" class=" pie-chart-item  flex justify-center items-center pt-12"> 
                    </dl>
                </pre>

            </div>
        </div> -->

        <div class="mt-12 w-full grid grid-cols-1 gap-8">
            <div>
                <h3 class="text-xl font-bold mb-4" id="dashboard-date-range"></h3>

                <div id="loader" style="display: none;" class="mx-auto w-fit">Loading...</div>
                <div id="mermaid-diagram"></div>
            </div>
            <!-- <div>
                <h3 class="text-xl font-bold mb-4">Synthetic Testing with forced error August 6, 2024 (FHIR)</h3>
                <pre class="mermaid bg-white p-4 rounded-lg shadow-md">
                    sequenceDiagram
                        participant CrossroadsSCN as Crossroads SCN
                        participant QE as QE
                        participant Tech by Design as Tech by Design
                        participant ScoringEngine as Scoring Engine
                        participant SHINNY as SHIN-NY Data Lake
                        participant MDW as MDW
                                    
                        CrossroadsSCN ->> QE: Send Test JSON
                        QE ->> Tech by Design: Proxy FHIR JSON
                        Tech by Design ->> Tech by Design: Validate and Store FHIR JSON
                        Tech by Design ->> ScoringEngine: Proxy Validated FHIR JSON
                        ScoringEngine ->> SHINNY: Submit only 50% to Data lake
                        SHINNY ->> MDW: Submit to MDW
                </pre>
            </div> -->
            <div>
                <h3 class="text-xl font-bold mb-4">Production (FHIR)</h3>
                <pre class="mermaid bg-white p-4 rounded-lg shadow-md"> 
                sequenceDiagram
                    participant RC as RC
                    participant SCN as SCN
                    participant QE as QE
                    participant RHHIO as RHHIO
                    participant Tech by Design as Tech by Design
                    participant SHINNY as SHIN-NY Data Lake
                    participant MDW as MDW
                    participant MCO as MCO 
                
                    critical Quasi-synchronous submission
                        RC ->> SCN: Ready prepares "Happy Path"<br>test case (easy to understand)
                        SCN ->> QE: Send Test JSON
                        QE ->> Tech by Design: Proxy FHIR JSON
                        Tech by Design ->> Tech by Design: Validate and Store FHIR JSON
                        Tech by Design ->> SHINNY: Proxy Validated FHIR<br>JSON to to Data lake
                        SHINNY ->> MDW: Submit HRSN to MDW
                        SHINNY ->> QE: Screening Files (daily)
                        QE ->> SCN: Screening Files (daily)
                    end
                
                    critical MDW prepares and sends content
                        MDW ->> SHINNY: Medicaid Eligibility File (MEF)
                        SHINNY ->> QE: MEF
                        SCN ->> QE: SCN Picks it<br>up asynchronously
                    end
                
                    critical MCO prepares and sends content
                        MCO ->> RHHIO: Enhanced Services<br>Member File (ESMF)
                        RHHIO ->> SHINNY: ESMF
                        SHINNY ->> MDW: ESMF
                        SHINNY ->> QE: ESMF
                        SCN ->> QE: SCN Picks it<br>up asynchronously
                    end
                </pre>
            </div>
        </div>

        <!-- <div class="mt-12 w-full grid grid-cols-2 gap-8">
            <div>
                <h3 class="text-xl font-bold mb-4">Synthetic Testing (flat files)</h3>
                <pre class="mermaid bg-white p-4 rounded-lg shadow-md">
                    sequenceDiagram
                        participant TODO as TODO
                </pre>
            </div>
            <div>
                <h3 class="text-xl font-bold mb-4">Production (flat files)</h3>
                <pre class="mermaid bg-white p-4 rounded-lg shadow-md">
                    sequenceDiagram
                        participant TODO as TODO
                </pre>
            </div>
        </div> -->


        <script th:inline="javascript">
            /*<![CDATA[*/
            document.addEventListener('DOMContentLoaded', async function () {

                const loader = document.getElementById('loader');
                const mermaidDiagram = document.getElementById('mermaid-diagram');

                try {
                    // Show loader
                    loader.style.display = 'block';
                    mermaidDiagram.style.display = 'none';

                    const response = await fetch('/dashboard/stat/fhir/mermaid');
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    const data = await response.json();
                    // console.log('Fetched data:', data);

                    // Helper function to safely find a count by label
                    const getCountByLabel = (label) => {
                        const item = data.find(item => item.label === label);
                        if (item) {
                            return item.count;
                        } else {
                            console.warn(`Label "${label}" not found in data`);
                            return 0; // or any default value you prefer
                        }
                    };

                    // Extract counts using the helper function 
                    const healthelink = getCountByLabel('healthelink_total_submissions');
                    const healtheconnections = getCountByLabel('healtheconnections_total_submissions');
                    const healthix = getCountByLabel('healthix_total_submissions');
                    const grrhio = getCountByLabel('grrhio_total_submissions');
                    const hixny = getCountByLabel('hixny_total_submissions');
                    const healthelink_shinny_datalake_submissions = getCountByLabel('healthelink_shinny_datalake_submissions');
                    const healtheconnections_shinny_datalake_submissions = getCountByLabel('healtheconnections_shinny_datalake_submissions');
                    const healthix_shinny_datalake_submissions = getCountByLabel('healthix_shinny_datalake_submissions');
                    const grrhio_shinny_datalake_submissions = getCountByLabel('grrhio_shinny_datalake_submissions');
                    const hixny_shinny_datalake_submissions = getCountByLabel('hixny_shinny_datalake_submissions');

                    // Construct Mermaid diagram code with fetched data
                    const mermaidCode = `
            sequenceDiagram 
                participant QE as QE
                participant Tech by Design as Tech by Design
                participant SHIN-NY Data Lake as SHIN-NY Data Lake 

                QE ->> Tech by Design: HEALTHeLINK Proxy FHIR JSON (${healthelink})
                QE ->> Tech by Design: Healtheconnections Proxy FHIR JSON (${healtheconnections})
                QE ->> Tech by Design: Healthix Proxy FHIR JSON (${healthix})
                QE ->> Tech by Design: Rochester Proxy FHIR JSON (${grrhio})
                QE ->> Tech by Design: HixNY Proxy FHIR JSON (${hixny}) 
                Tech by Design ->> SHIN-NY Data Lake: HEALTHeLINK Proxy Validated FHIR JSON (${healthelink_shinny_datalake_submissions})
                Tech by Design ->> SHIN-NY Data Lake: Healtheconnections Proxy Validated FHIR JSON (${healtheconnections_shinny_datalake_submissions})
                Tech by Design ->> SHIN-NY Data Lake: Healthix Proxy Validated FHIR JSON (${healthix_shinny_datalake_submissions})
                Tech by Design ->> SHIN-NY Data Lake: Rochester Proxy Validated FHIR JSON (${grrhio_shinny_datalake_submissions})
                Tech by Design ->> SHIN-NY Data Lake: HixNY Proxy Validated FHIR JSON (${hixny_shinny_datalake_submissions}) 
        `;

                    // Inject the Mermaid code into the HTML
                    mermaidDiagram.innerHTML = `<pre class="mermaid bg-white p-4 rounded-lg shadow-md">${mermaidCode}</pre>`;

                    // Initialize Mermaid after setting the diagram code
                    mermaid.contentLoaded();

                    // Wait for Mermaid to render and then add click event listeners
                    setTimeout(function () { 
                        const { todayFormatted, pastDateFormatted } =  getDateRange(7);
                        addClickEvent('HEALTHeLINK Proxy Validated FHIR JSON', '/needs-attention/techbd-to-scoring-engine?qeName=healthelink&fromDate='+pastDateFormatted+'&toDate='+todayFormatted+'');
                        addClickEvent('Healtheconnections Proxy Validated FHIR JSON', '/needs-attention/techbd-to-scoring-engine?qeName=healtheconn&fromDate='+pastDateFormatted+'&toDate='+todayFormatted+'');
                        addClickEvent('Healthix Proxy Validated FHIR JSON', '/needs-attention/techbd-to-scoring-engine?qeName=healthix&fromDate='+pastDateFormatted+'&toDate='+todayFormatted+'');
                        addClickEvent('Rochester Proxy Validated FHIR JSON', '/needs-attention/techbd-to-scoring-engine?qeName=grrhio&fromDate='+pastDateFormatted+'&toDate='+todayFormatted+'');
                        addClickEvent('HixNY Proxy Validated FHIR JSON', '/needs-attention/techbd-to-scoring-engine?qeName=hixny&fromDate='+pastDateFormatted+'&toDate='+todayFormatted+'');
                    }, 500);

                } catch (error) {
                    console.error('Error fetching data:', error);
                } finally {
                    // Hide loader and show diagram
                    loader.style.display = 'none';
                    mermaidDiagram.style.display = 'block';
                }

            });
            // Optional: Use JavaScript to fetch data dynamically if needed
            async function fetchRecentData() {
                try {
                    const response = await fetch(`/dashboard/stat/fhir/fhir-submission-summary`);
                    if (!response.ok) {
                        throw new Error(`HTTP error! Status: ${response.status}`);
                    }
                    const data = await response.text();
                    document.getElementById('dashboard-container').innerHTML = data;
                    const pieChartData = [
                        {
                            count: document.getElementById("totalSubmissionsP") ? document.getElementById("totalSubmissionsP").textContent : 0,
                            label: "Total Submissions"
                        },
                        {
                            count: document.getElementById("pendingSubmissionsP") ? document.getElementById("pendingSubmissionsP").textContent : 0,
                            label: "Pending Submissions"
                        },
                        {
                            count: document.getElementById("acceptedSubmissionsP") ? document.getElementById("acceptedSubmissionsP").textContent : 0,
                            label: "Accepted Submissions"
                        },
                        {
                            count: document.getElementById("rejectedSubmissionsP") ? document.getElementById("rejectedSubmissionsP").textContent : 0,
                            label: "Rejected Submissions"
                        }
                    ];
                    createPieChart(pieChartData);
                } catch (error) {
                    console.error('Error fetching recent data:', error);
                }
            }


            // Function to replace text with a link
            // Function to add a click event to specific text elements in the diagram
            function addClickEvent(text, url) {
                const elements = document.querySelectorAll('text');
                elements.forEach(el => {
                    if (el.innerHTML.includes(text)) {
                        el.style.cursor = 'pointer';
                        el.style.fill = 'blue';
                        el.style.textDecoration = 'underline';
                        el.addEventListener('click', () => {
                            window.location.href = url;  // Redirect to the URL in the same window
                        });
                    }
                });
            }
            function getDateRange(daysAgo = 7) {
                let today = new Date();
                let pastDate = new Date(today);
                pastDate.setDate(today.getDate() - daysAgo);

                return {
                    todayFormatted: formatDate(today),
                    pastDateFormatted: formatDate(pastDate),
                };
            }
            function formatDate(date) {
                let day = String(date.getDate()).padStart(2, '0');
                let month = String(date.getMonth() + 1).padStart(2, '0'); // Months are zero-based
                let year = date.getFullYear();

                return `${month}-${day}-${year}`;
            }
                    // Example usage on page load or user interaction
            // window.onload = function () {
            //     fetchRecentData(); // Fetch data for the last 7 days
            // }
            function createPieChart(interactions) {
                const width = 500;  // Further increase width
                const height = 500;  // Further increase height
                const radius = Math.min(width, height) / 2;

                const color = d3.scaleOrdinal()
                    .domain(interactions.map(d => d.label))
                    .range(d3.schemeCategory10);

                const pie = d3.pie()
                    .value(d => d.count);

                const arc = d3.arc()
                    .innerRadius(0)
                    .outerRadius(radius);

                const svg = d3.select("#pie-chart")
                    .append("svg")
                    .attr("class", " align-middle w-[70%] mt-[-45px]")  // Add Tailwind classes for width and height
                    .attr("viewBox", `0 0 ${width + 300} ${height}`)  // Further increase width to make room for the legend
                    .append("g")
                    .attr("transform", `translate(${width / 2},${height / 2})`);

                svg.selectAll("path")
                    .data(pie(interactions))
                    .enter().append("path")
                    .attr("fill", d => color(d.data.label))
                    .attr("d", arc)
                    .append("title")
                    .text(d => `${d.data.label}: ${d.data.count}`);

                // Add legend
                const legend = svg.append("g")
                    .attr("transform", `translate(${radius + 50}, -${height / 2})`);  // Move legend further to the right

                const legendRectSize = 20;  // Increase legend rectangle size
                const legendSpacing = 8;    // Increase legend spacing

                const legendItems = legend.selectAll('.legend-item')
                    .data(interactions)
                    .enter()
                    .append('g')
                    .attr('class', 'legend-item')
                    .attr('transform', (d, i) => `translate(0, ${i * (legendRectSize + legendSpacing)})`);

                legendItems.append('rect')
                    .attr('width', legendRectSize)
                    .attr('height', legendRectSize)
                    .attr('fill', d => color(d.label))
                    .attr('stroke', d => color(d.label));

                legendItems.append('text')
                    .attr('x', legendRectSize + legendSpacing)
                    .attr('y', legendRectSize - legendSpacing)
                    .style('font-size', '14px')  // Increase font size
                    .style('font-family', 'sans-serif')  // Optional: set font family
                    .text(d => d.label)
                    .attr('dy', '0.35em');  // Adjust text vertical alignment
            }
            /*]]>*/
        </script>
    </div>

</body>

</html>