<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/prime}">

<head>
    <script src='https://unpkg.com/htmx.org/dist/htmx.min.js'></script>
    <title>Welcome</title>
    <style>
        .hanging-indent {
            padding-left: 1.5rem;
            text-indent: -1.5rem;
        }
    </style>
</head>

<body class="bg-gray-100">
    <div layout:fragment="content" class="flex flex-col items-center justify-center p-4">
        <img src="/techbd-hub.svg" class="mb-8" />
        <div class="prose bg-white p-8 w-full max-w-6xl">
            <h1 class="text-3xl font-bold mb-4 text-center">Welcome to Technology-by-Design's Collaboration Hub</h1>
            <p class="mb-4 text-center">The central place where New York's finest healthcare institutions can
                collaborate, share, and manage HIE datasets and other assets.</p>
            <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4">
                <ul class="list-disc list-inside pl-8">
                    <li class="mb-2 hanging-indent">The Hub connects HIE data submitters, data consumers, and IT teams.
                        <a th:href="@{/interactions}">Explore FHIR and flat file submissions.</a>
                    </li>
                    <li class="mb-2 hanging-indent">We're an <em></em>open by default</em> community that welcomes
                        contributions across the HIE ecosystem. <a href="https://github.com/tech-by-design">Explore our
                            GitHub projects.</a></li>
                </ul>
                <ul class="list-disc list-inside pl-8">
                    <li class="mb-2 hanging-indent">We help ensure high-quality data submissions and usage. <a
                            th:href="@{/data-quality}">Explore FHIR and flat file validations.</a></li>
                    <li class="mb-2 hanging-indent">The Hub encourages sharing of documentation and code. <a
                            th:href="@{/docs/techbd-hub}">Read the docs</a> and <a th:href="@{/docs/swagger-ui}">Explore
                            our APIs</a>.</li>
                </ul>
                <ul class="list-disc list-inside pl-8">
                    <li class="mb-2 hanging-indent">The Hub efficiently oversees multiple HIE-related projects.</li>
                    <li class="hanging-indent">We facilitate data analysis and insights for business analysts and
                        stakeholders.</li>
                </ul>
            </div>
        </div>

        <div sec:authorize="isAuthenticated()">
            <div>You're logged in as GitHub User <span sec:authentication="principal.attributes['name']"></span> with
                role <code>TODO</code>.</div>
        </div>
        <div sec:authorize="isAnonymous()">
            <div>You're not logged in so you only have guest privileges.</div>
        </div>

        <div class="mt-8 flex flex-col items-center justify-center p-4">
            <div class="text-center">Most Recent FHIR Interactions</div>
            <dl class="mt-5 grid grid-cols-1 gap-5 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-6">
                <div
                    th:replace="~{fragments/dashboard :: serverTextStat('HEALTHeLINK', @{/dashboard/stat/fhir/most-recent/healthelink.html})}">
                </div>
                <div
                    th:replace="~{fragments/dashboard :: serverTextStat('Healtheconnections', @{/dashboard/stat/fhir/most-recent/healtheconn.html})}">
                </div>
                <div
                    th:replace="~{fragments/dashboard :: serverTextStat('Healthix', @{/dashboard/stat/fhir/most-recent/healthix.html})}">
                </div>
                <div
                    th:replace="~{fragments/dashboard :: serverTextStat('Rochester', @{/dashboard/stat/fhir/most-recent/grrhio.html})}">
                </div>
                <div
                    th:replace="~{fragments/dashboard :: serverTextStat('HixNY', @{/dashboard/stat/fhir/most-recent/hixny.html})}">
                </div>
            </dl>
        </div>

        <div class="mt-8 flex flex-col items-center justify-center p-4">
            <div class="text-center">Most Recent Flat Files SFTP <code>egress</code> Interactions (hover to see details)
            </div>
            <dl class="mt-5 grid grid-cols-1 gap-5 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-6">
                <div
                    th:replace="~{fragments/dashboard :: serverTextStat('HEALTHeLINK', @{/dashboard/stat/sftp/most-recent-egress/healthelink.html})}">
                </div>
                <div
                    th:replace="~{fragments/dashboard :: serverTextStat('healtheconnections', @{/dashboard/stat/sftp/most-recent-egress/healtheconn.html})}">
                </div>
                <div
                    th:replace="~{fragments/dashboard :: serverTextStat('Healthix', @{/dashboard/stat/sftp/most-recent-egress/healthix.html})}">
                </div>
                <div
                    th:replace="~{fragments/dashboard :: serverTextStat('Rochester', @{/dashboard/stat/sftp/most-recent-egress/grrhio.html})}">
                </div>
                <div
                    th:replace="~{fragments/dashboard :: serverTextStat('HixNY', @{/dashboard/stat/sftp/most-recent-egress/hixny.html})}">
                </div>
            </dl>
        </div>

        <div class="mt-12 w-full grid grid-cols-2 gap-8">
            <div>
                <h3 class="text-xl font-bold mb-4">Synthetic Testing (FHIR)</h3>
                <pre class="mermaid bg-white p-4 rounded-lg shadow-md">
                    sequenceDiagram
                        participant CrossroadsSCN as Crossroads SCN
                        participant QE as QE
                        participant TechBD as TechBD
                        participant ScoringEngine as Scoring Engine
                        participant SHINNY as SHIN-NY Data Lake
                        participant MDW as MDW
                                    
                        CrossroadsSCN ->> QE: Send Test JSON
                        QE ->> TechBD: Proxy FHIR JSON
                        TechBD ->> TechBD: Validate and Store FHIR JSON
                        TechBD ->> ScoringEngine: Proxy Validated FHIR JSON
                        ScoringEngine ->> SHINNY: Submit to Data lake
                        SHINNY ->> MDW: Submit to MDW
                </pre>
            </div>
            <div>
                <h3 class="text-xl font-bold mb-4">Production (FHIR)</h3>
                <pre class="mermaid bg-white p-4 rounded-lg shadow-md">
                    sequenceDiagram
                        participant SCN as SCN
                        participant QE as QE
                        participant TechBD as TechBD
                        participant ScoringEngine as Scoring Engine
                        participant SHINNY as SHIN-NY Data Lake
                        participant MDW as MDW
                                    
                        SCN ->> QE: Send Test JSON
                        QE ->> TechBD: Proxy FHIR JSON
                        TechBD ->> TechBD: Validate and Store FHIR JSON
                        TechBD ->> ScoringEngine: Proxy Validated FHIR JSON
                        ScoringEngine ->> SHINNY: Submit to Data lake
                        SHINNY ->> MDW: Submit to MDW
                </pre>
            </div>
        </div>

        <div class="mt-12 w-full grid grid-cols-2 gap-8">
            <div>
                <h3 class="text-xl font-bold mb-4">Synthetic Testing (flat files)</h3>
                <pre class="mermaid bg-white p-4 rounded-lg shadow-md">
                    sequenceDiagram
                        participant TODO as TODO
                </pre>
            </div>
            <div>
                <h3 class="text-xl font-bold mb-4">Production (flat files)</h3>
                <pre class="mermaid bg-white p-4 rounded-lg shadow-md">
                    sequenceDiagram
                        participant TODO as TODO
                </pre>
            </div>
        </div>
    </div>
</body>

</html>