<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/prime}">

<head>
  
    <style>
        .grid-description{
            font-size: 14px;
            margin: 5px 0px 5px 15px;
        }
    </style>
    <!-- if JSON Viewer is not already in the layout, add the following -->
    <!-- <script src="https://unpkg.com/@alenaksu/json-viewer@2.0.0/dist/json-viewer.bundle.js"></script> -->

    <th:block th:insert="./fragments/common-head-aggrid :: common-head-aggrid"></th:block>
    <script type="module">
        import { AGGridAide, AGGridAideBuilder } from '@presentation/shell/aggrid-aide.js';
        import ModalAide from '@presentation/shell/modal-aide.js';

        const schemaName = 'techbd_udi_ingress';
        const viewName = 'csv_data_integrity_errors';
        document.addEventListener('DOMContentLoaded', function () {
            const modalAide = new ModalAide();
            const agGridInstance = new AGGridAideBuilder()
            .withColumnDefs([
                            { 
                                headerName: "Created Time", 
                                field: "created_at", 
                                sortable: true, 
                                sort: "desc", 
                                filter: "agDateColumnFilter", 
                                headerTooltip: "The timestamp when the CSV validation error was recorded."
                            },
                            { 
                                headerName: "TechBD Tenant ID", 
                                field: "tenant_id", 
                                filter: "agTextColumnFilter", 
                                headerTooltip: "The unique identifier for the TechBD tenant associated with the CSV file."
                            },
                            { 
                                headerName: "TechBD Interaction ID", 
                                field: "hub_interaction_id", 
                                filter: "agTextColumnFilter", 
                                headerTooltip: "The unique Interaction ID for the TechBD tenant associated with the CSV file."
                            }, 
                            { 
                                headerName: "TechBD Zip File Interaction ID", 
                                field: "zip_file_hub_interaction_id", 
                                filter: "agTextColumnFilter", 
                                headerTooltip: "The unique zip file Interaction ID for the TechBD tenant associated with the CSV file."
                            },                            
                            { 
                                headerName: "URI", 
                                field: "uri", 
                                filter: "agTextColumnFilter", 
                                headerTooltip: "The URI where the CSV file was submitted or validated."
                            },
                            { 
                                headerName: "File Name", 
                                field: "file_name", 
                                filter: "agTextColumnFilter", 
                                headerTooltip: "The name of the CSV file where the error occurred."
                            },                            
                            { 
                                headerName: "Field Name", 
                                field: "fieldname", 
                                filter: "agTextColumnFilter", 
                                headerTooltip: "The name of the field in the CSV file where the error occurred."
                            },
                            { 
                                headerName: "Cell Value", 
                                field: "value", 
                                filter: "agTextColumnFilter", 
                                headerTooltip: "The value of the cell in the CSV file that triggered the error."
                            },
                            { 
                                headerName: "Error Type", 
                                field: "error_type", 
                                filter: "agTextColumnFilter", 
                                headerTooltip: "The category or type of validation error encountered."
                            },
                            { 
                                headerName: "Error Message", 
                                field: "error", 
                                filter: "agTextColumnFilter", 
                                headerTooltip: "The detailed error message describing the validation issue."
                            },
                            { 
                                headerName: "Description", 
                                field: "description", 
                                filter: "agTextColumnFilter", 
                                headerTooltip: "A brief description of the validation error."
                            },
                            { 
                                headerName: "Row Number", 
                                field: "rownumber", 
                                filter: "agNumberColumnFilter", 
                                headerTooltip: "The row number in the CSV file where the error occurred."
                            },
                            { 
                                headerName: "Field Number", 
                                field: "fieldnumber", 
                                filter: "agNumberColumnFilter", 
                                headerTooltip: "The field number in the CSV file where the error occurred."
                            }
                        ])
                .withServerSideDatasource(
                    window.shell.serverSideUrl(`/api/ux/tabular/jooq/${schemaName}/${viewName}.json`),
                    (data, valueCols) => {
                        return valueCols.map(col => ({
                            headerName: col.displayName,
                            field: col.field
                        }));
                    },
                )
                .withModalAide(modalAide)
                .withGridDivStyles({ height: "750px", width: "100%" })
                .build();

            agGridInstance.init('serverDataGrid');
        });
    </script>
</head>

<body>
    <div layout:fragment="content">
        <div class="grid-description">
            This data grid highlights errors related to the integrity of data within the submitted CSV files. It includes issues such as foreign key violations, incorrect values, and constraint errors for specific rows and fields in the data. Each row in the grid provides detailed information about the error type, the problematic field, and the exact location (row and column) of the issue. This grid also identifies the section and file name where the error occurred, offering a comprehensive view of data inconsistencies for debugging and resolution.
 </div>
        <div id="serverDataGrid" class="ag-theme-alpine"></div>
    </div>
</body>

</html>