<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/prime}">

<head> 
    <style>
        .grid-description{
            font-size: 14px;
            margin: 5px 0px 5px 15px;
        }
    </style>
    <!-- if JSON Viewer is not already in the layout, add the following -->
    <!-- <script src="https://unpkg.com/@alenaksu/json-viewer@2.0.0/dist/json-viewer.bundle.js"></script> -->

    <th:block th:insert="./fragments/common-head-aggrid :: common-head-aggrid"></th:block>
    <script type="module">
        import { AGGridAide, AGGridAideBuilder } from '@presentation/shell/aggrid-aide.js';
        import ModalAide from '@presentation/shell/modal-aide.js';

        const schemaName = 'techbd_udi_ingress';
        const viewName = 'fhir_session_diagnostics';
        const fhirValidationIssue = 'fhir_session_diagnostics_details';
        const fhirValidationIssueColumnDefs = [
            { headerName: "TechBD Interaction ID", field: "session_id", filter: "agTextColumnFilter", headerTooltip: "Identifies the interaction during which the issue occurred" },
            { headerName: "Bundle ID", field: "bundle_id", filter: "agTextColumnFilter", headerTooltip: "Identifies the bundle during which the issue occurred" },            
            { headerName: "URI", field: "uri", filter: "agTextColumnFilter", headerTooltip: "The URI associated with the interaction" },
            { headerName: "Issue Line", field: "line", filter: "agTextColumnFilter", headerTooltip: "The line number where the issue occurred" },
            { headerName: "Issue Column", field: "column", filter: "agTextColumnFilter", headerTooltip: "The column number where the issue occurred" },
            { headerName: "Diagnostics", field: "diagnostics", filter: "agTextColumnFilter", headerTooltip: "The diagnostics associated with the issue" },
        ];

        function transformFhirValidationIssues(response) {
            const transformedData = response.data.map(issue => {
                return {
                    validation_engine: issue.validation_engine ,  // Keep the validation engine
                    message: issue.message ,  // Default message if none exists
                    severity: issue.severity ,  // Default severity if none exists 
                    encountered_date: issue.encountered_date  ,  // Set to encountered date or default
                    ig_version: issue.ig_version  ,  // Set to ig_version, default to "Unknown" if not available
                    encountered_date: issue.encountered_date  ,  // Assuming encountered_date maps to issue_date
                    tenant_id: issue.tenant_id  ,  // Mapping tenant_id
                    session_id: issue.session_id  ,  // Mapping session_id
                    line: issue.line  ,  // Mapping line
                    column: issue.column  ,  // Mapping column
                    uri: issue.uri  ,  // Mapping uri
                    diagnostics: issue.diagnostics  ,  // Mapping diagnostics
                    bundle_id: issue.bundle_id  ,  // Mapping bundle_id
                    elaboration: issue.elaboration   // Mapping elaboration
                };
            });

                return transformedData;
            }

        function getFhirValidationIssueGridData(params) {
            const ig_version = params.data.ig_version ;
            const message = params.data.message ;
            const encountered_date = params.data.encountered_date ;
            const severity = params.data.severity ;
            const tenant_id = params.data.tenant_id ;
            const validation_engine = params.data.validation_engine ;

            const filterModel = {};

            // Add filters only if values exist
            if (tenant_id) {
                filterModel["tenant_id"] = {
                    filterType: "text",
                    type: "equals",
                    filter: tenant_id
                };
            }

            if (severity) {
                filterModel["severity"] = {
                    filterType: "text",
                    type: "equals",
                    filter: severity
                };
            }

            if (message) {
                filterModel["message"] = {
                    filterType: "text",
                    type: "equals",
                    filter: message
                };
            }

            if (ig_version) {
                filterModel["ig_version"] = {
                    filterType: "text",
                    type: "equals",
                    filter: ig_version
                };
            }

            if (validation_engine) {
                filterModel["validation_engine"] = {
                    filterType: "text",
                    type: "equals",
                    filter: validation_engine
                };
            }

            if (encountered_date) {
                filterModel["encountered_date"] = {
                    filterType: "date",
                    type: "equals",
                    filter: encountered_date
                }
            }            

            // Request data
            const requestData = {
                startRow: 0,
                endRow: 500,
                rowGroupCols: [],
                valueCols: [],
                pivotCols: [],
                pivotMode: false,
                groupKeys: [],
                filterModel, // Use the dynamically created filter model
                sortModel: [
                    {
                        sort: "desc",
                        colId: "encountered_date"
                    }
                ]
            };

            // Fetch with POST method
            fetch(window.shell.serverSideUrl(`/api/ux/tabular/jooq/${schemaName}/${fhirValidationIssue}.json`), {
                method: 'POST',  // Use POST method
                headers: {
                    'Content-Type': 'application/json'  // Ensure it's sent as JSON
                },
                body: JSON.stringify(requestData)  // Convert the request data to a JSON string
            })
            .then(response => {
                if (response.url.includes('/?timeout=true')) {
                    window.location.href = '/?timeout=true'; // Redirect to login page
                    return null; // Prevent further processing of the response
                }
                return response.json();  // Parse the response as JSON
            })
            .then(response => {
                 // Transform the response data
                const transformedResponse = transformFhirValidationIssues(response);
                params.successCallback(transformedResponse);  // Pass the response to the ag-Grid success callback
            })
            .catch(error => {
                console.error('Error fetching details data: ' + error);
            });

        }        
        document.addEventListener('DOMContentLoaded', function () {
            const modalAide = new ModalAide();
            const agGridInstance = new AGGridAideBuilder()
                .withColumnDefs([
                     { headerName: "Encountered Time", field: "encountered_date", sortable: true, sort: "desc", filter: "agDateColumnFilter", cellRenderer: 'agGroupCellRenderer', headerTooltip: "Timestamp indicating when the issue was encountered." },                    
                    { headerName: "TechBD Tenant ID", field: "tenant_id", filter: "agTextColumnFilter", headerTooltip: "The unique identifier for the TechBD tenant." },
                    { headerName: "Severity", field: "severity", filter: "agTextColumnFilter", headerTooltip: "The severity of the issue." },
                    { headerName: "Issue Message", field: "message", filter: "agTextColumnFilter", headerTooltip: "A description of the issue." },
                    { headerName: "IG Version", field: "ig_version", filter: "agTextColumnFilter", headerTooltip: "The version of the Implementation Guide associated with the FHIR data and its validation." },
                    { headerName: "HAPI Version", field: "validation_engine", filter: "agTextColumnFilter", headerTooltip: "The validation engine used to validate the FHIR data against the Implementation Guide (IG)." },
                    { headerName: "Issue Count", field: "issue_count", filter: "agTextColumnFilter", headerTooltip: "The number of times this specific issue has been encountered across different interactions within a particular IG version." }
                ])
                .withServerSideDatasource(
                    window.shell.serverSideUrl(`/api/ux/tabular/jooq/${schemaName}/${viewName}.json`),
                    (data, valueCols) => {
                        return valueCols.map(col => ({
                            headerName: col.displayName,
                            field: col.field
                        }));
                    },
                )
                .withMasterDetail(true)
                .withDetailCellRendererParams({
                    detailGridOptions: {
                        columnDefs: fhirValidationIssueColumnDefs,
                        defaultColDef: {
                            flex: 1
                        }
                    },
                    getDetailRowData: params => {
                        getFhirValidationIssueGridData(params);
                    }
                })
                .withModalAide(modalAide)
                .withGridDivStyles({ height: "750px", width: "100%" })
                .build();

            agGridInstance.init('serverDataGrid');
        });
    </script>
</head>

<body>
    <div layout:fragment="content">
        <div class="grid-description">
            This data grid provides a high-level summary view on the Data Quality page, highlighting errors in submissions to facilitate swift identification and resolution. Key fields such as Date, Tenant ID, Issue Message, Severity, IG Version, HAPI Version, and Issue Count are displayed, offering a comprehensive snapshot of data quality issues. The Severity field categorizes issues into ERROR and WARNING, enabling users to prioritize their efforts effectively.
            A drill-down feature enables users to explore detailed insights for each entry, including additional context like the associated Bundle ID and other relevant information. This functionality ensures efficient error tracing and resolution, streamlining the data validation process and enhancing overall submission quality.
        <div id="serverDataGrid" class="ag-theme-alpine"></div>
    </div>
</body>

</html>