<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/prime}">

<head>
   
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">

    <style>
        .grid-description {
            font-size: 14px;
            margin: 5px 0px 5px 15px;
        }

        .grid-title {
            font-size: 18px;
            font-weight: bold;
            margin: 12px 0px 11px 15px;
        }
        li {
            margin-bottom: 10px;
        }

        #date-picker-container {
            margin-top: 20px;
            display: flex;
            gap: 10px;  
            align-items: center;  
            justify-content: flex-start;
        }

        .date-picker-label{      
            width: 100px;
            line-height: 35px;
        }

        .date-picker-label {
            text-align: right;
        }

        #searchButton {
            margin-left: 10px;
            background-color: #e7e7e7;
            border: none;
            border-radius: 12px;
            color: black;
            padding: 15px 24px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
        }

        #clearButton {
            margin-left: 10px;
            background-color: #e7e7e7;
            border: none;
            border-radius: 12px;
            color: black;
            padding: 15px 24px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            display: none;
        }

        </style>
    <!-- if JSON Viewer is not already in the layout, add the following -->
    <!-- <script src="https://unpkg.com/@alenaksu/json-viewer@2.0.0/dist/json-viewer.bundle.js"></script> -->

    <th:block th:insert="./fragments/common-head-aggrid :: common-head-aggrid"></th:block>
    <script src="https://www.jsviews.com/download/jsrender.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <script type="module">
        import { AGGridAide, AGGridAideBuilder } from '@presentation/shell/aggrid-aide.js';
        import ModalAide from '@presentation/shell/modal-aide.js';
        import { Helpers } from '@presentation/shell/helpers.js';

        const schemaName = 'techbd_udi_ingress';
        const storedProcName = 'get_fhir_session_diagnostics';
        const detailStoredProcName = 'get_fhir_session_diagnostics_details'; 
        // Date formatting function
        const formatDate = (date) => {
            const month = String(date.getMonth() + 1).padStart(2, '0');
            const day = String(date.getDate()).padStart(2, '0');
            const year = date.getFullYear();
            return `${month}-${day}-${year}`;
        };

        const fhirValidationIssueColumnDefs = [
            { headerName: "Message", field: "message", filter: "agTextColumnFilter", headerTooltip: "The validation message associated with the issue" },
            { headerName: "Severity", field: "severity", filter: "agTextColumnFilter", headerTooltip: "The severity of the issue" },
            { headerName: "Issue Line", field: "line", filter: "agTextColumnFilter", headerTooltip: "The line number where the issue occurred" },
            { headerName: "Issue Column", field: "col_no", filter: "agTextColumnFilter", headerTooltip: "The column number where the issue occurred" },
            { headerName: "Diagnostics", field: "diagnostics", filter: "agTextColumnFilter", headerTooltip: "The diagnostics associated with the issue" },
        ];

 

        function getFhirValidationIssueGridData(params) {
            const startDate = $('#start-date').datepicker('getDate');
            const endDate = $('#end-date').datepicker('getDate');

            const formattedStartDate = formatDate(startDate);
            const formattedEndDate = formatDate(endDate);           
            
            const hub_interaction_id = params.data.hub_interaction_id; 
            
            const storedProcParams = {
                "p_start_date": formattedStartDate,
                "p_end_date": formattedEndDate,
                "p_hub_interaction_id": hub_interaction_id
            };

            const gridRequestBody = {
                "startRow": 0,
                "endRow": 1000,
                "rowGroupCols": [],
                "valueCols": [],
                "pivotCols": [],
                "pivotMode": false,
                "groupKeys": [],
                "filterModel": {},
                "sortModel": []
            };

            const paramsJson = encodeURIComponent(JSON.stringify(storedProcParams));
            const url = window.shell.serverSideUrl(`/api/ux/tabular/jooq/sp/${schemaName}/${detailStoredProcName}.json?storedProcparams=${paramsJson}`);

            fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(gridRequestBody)
            })
            .then(response => {
                if (response.url.includes('/?timeout=true')) {
                    window.location.href = '/?timeout=true';
                    return null;
                }
                if (!response.ok) {
                    throw new Error(`HTTP error! status: ${response.status}`);
                }
                return response.json();
            })
            .then(response => {
                let rowData = response;

                if (!Array.isArray(rowData)) {
                    if (rowData && rowData.rows && Array.isArray(rowData.rows)) {
                        rowData = rowData.rows;
                    } else if(rowData && rowData.data && Array.isArray(rowData.data)){
                        rowData = rowData.data;
                    } else {
                        console.error("Unexpected response format:", response);
                        rowData = [];
                    }
                }

                params.successCallback(rowData, rowData.length);
            })
            .catch(error => {
                console.error('Error fetching FHIR validation issue details: ' + error);
              //  params.failCallback();
            });
        }
        document.addEventListener('DOMContentLoaded', function () {
            const modalAide = new ModalAide();
            const helpers = new Helpers();

            // Initialize date range
            const today = new Date();
            const oneWeekAgo = new Date(today);
            oneWeekAgo.setDate(today.getDate() - 7);

            let initialStartDate = formatDate(oneWeekAgo);
            let initialEndDate = formatDate(today);

            // Datepicker Initialization
            $("#start-date, #end-date").datepicker({
                dateFormat: "mm-dd-yy",
                onSelect: function() {
                    const startDate = $('#start-date').datepicker('getDate');
                    const endDate = $('#end-date').datepicker('getDate');
                    const formattedStartDate = formatDate(startDate);
                    const formattedEndDate = formatDate(endDate);

                    if (formattedStartDate !== initialStartDate || formattedEndDate !== initialEndDate) {
                        $('#clearButton').show();
                    } else {
                        $('#clearButton').hide();
                    }
                }
            });

            $("#start-date").datepicker("setDate", oneWeekAgo);
            $("#end-date").datepicker("setDate", today);

            updateGridWithDates(oneWeekAgo, today);

            // Search Button Click Handler
            $('#searchButton').click(function() {
                $('#serverDataGrid').empty();
                const startDate = $('#start-date').datepicker('getDate');
                const endDate = $('#end-date').datepicker('getDate');
                updateGridWithDates(startDate, endDate);
            });

            $('#clearButton').click(function() {
               location.reload();
            });

            function updateGridWithDates(startDate, endDate) {
                const formattedStartDate = formatDate(startDate);
                const formattedEndDate = formatDate(endDate);

                const storedProcParams = {
                    "p_start_date": formattedStartDate,
                    "p_end_date": formattedEndDate
                };

                helpers.injectDateRangeText(
                                            'date-range',
                                            'This table displays FHIR validation interactions from <b>{startDate}</b> to <b>{endDate}</b>. The grid shows TechBD Interaction ID, Tenant ID, Bundle ID, URI, Created At, IG Version, Tech by Design Version, and HAPI Version. Expand any row to view detailed validation issues for the interaction, including the issue message, line, column, and diagnostics. Issues are categorized by severity (warning, error, fatal) to help users quickly identify and prioritize validation problems.'
                                            );
                const paramsJson = encodeURIComponent(JSON.stringify(storedProcParams));
                const url = `/api/ux/tabular/jooq/sp/${schemaName}/${storedProcName}.json?storedProcparams=${paramsJson}`;

                const agGridInstance = new AGGridAideBuilder()
                    .withColumnDefs([                       
                        { headerName: "TechBD Interaction ID", field: "hub_interaction_id", sortable: true,   cellRenderer: 'agGroupCellRenderer', filter: "agTextColumnFilter", headerTooltip: "The unique identifier for the interaction." },
                        { headerName: "Bundle ID", field: "bundle_id", filter: "agTextColumnFilter", headerTooltip: "The unique identifier for the FHIR bundle." },                        
                        { headerName: "TechBD Tenant ID", field: "tenant_id", filter: "agTextColumnFilter", headerTooltip: "The unique identifier for the TechBD tenant." },                        
                        { headerName: "URI", field: "uri", filter: "agTextColumnFilter", headerTooltip: "The URI associated with the interaction." },
                        { headerName: "Created At", sort: "desc", field: "created_at", filter: "agDateColumnFilter",  headerTooltip: "Date indicating when the issue was encountered." },
                        { headerName: "IG Version", field: "ig_version", filter: "agTextColumnFilter", headerTooltip: "The version of the Implementation Guide associated with the FHIR data and its validation." },
                        { headerName: "Tech by Design Version", field: "techbd_version_number", filter: "agTextColumnFilter", headerTooltip: "The Tech by Design Version Number" }, 
                        { headerName: "HAPI Version", field: "validation_engine", filter: "agTextColumnFilter", headerTooltip: "The validation engine used to validate the FHIR data against the Implementation Guide (IG)." },                        
                        // {
                        // headerName: "Payload with Issues", field: "", cellClass: "flex justify-center items-center", cellRenderer: downloadCellRenderer,
                        // headerTooltip: "Download Payload with Issues", filter: false, suppressFilter: true, sortable: false
                        // }, 
                        // {
                        // headerName: "Original FHIR Payload", field: "", cellClass: "flex justify-center items-center", cellRenderer: downloadCellRenderer,
                        // headerTooltip: "Download Original FHIR Payload", filter: false, suppressFilter: true, sortable: false
                        // }                       
                    ])
                    .withServerSideDatasource(
                        window.shell.serverSideUrl(url),
                        (data, valueCols) => {
                            return valueCols.map(col => ({
                                headerName: col.displayName,
                                field: col.field
                            }));
                        },
                    )
                    .withMasterDetail(true)
                    .withDetailCellRendererParams({
                        detailGridOptions: {
                            columnDefs: fhirValidationIssueColumnDefs,
                            defaultColDef: {
                                flex: 1
                            }
                        },
                        getDetailRowData: params => {
                            getFhirValidationIssueGridData(params);
                        }
                    })
                    .withDetailRowAutoHeight(false)
                    .withModalAide(modalAide)
                    .withGridDivStyles({ height: "750px", width: "100%" })
                    .build();

                agGridInstance.init('serverDataGrid');
            }
        });
    </script>
</head>

<body>
    <div layout:fragment="content">
        <div class="grid-description">
            <div id="date-range">
                <!-- The date range will be injected here -->
            </div>
        </div>
        <div id="date-picker-container">
            <label for="start-date" class="date-picker-label">Start Date:</label>
            <input type="text" id="start-date" name="start-date" readonly>
            <label for="end-date" class="date-picker-label">End Date:</label>
            <input type="text" id="end-date" name="end-date" readonly>
            <button id="searchButton">Search</button>
            <button id="clearButton" style="display: none;">Clear</button>
        </div>
        <div id="serverDataGrid" class="ag-theme-alpine"></div>
    </div>
</body>

</html>