<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/prime}">

<head> 
    <style>
        .grid-description{
            font-size: 14px;
            margin: 5px 0px 5px 15px;
        }
    </style>
    <!-- if JSON Viewer is not already in the layout, add the following -->
    <!-- <script src="https://unpkg.com/@alenaksu/json-viewer@2.0.0/dist/json-viewer.bundle.js"></script> -->

    <th:block th:insert="./fragments/common-head-aggrid :: common-head-aggrid"></th:block>
    <script type="module">
        import { AGGridAide, AGGridAideBuilder } from '@presentation/shell/aggrid-aide.js';
        import ModalAide from '@presentation/shell/modal-aide.js';

        const schemaName = 'techbd_udi_ingress';
        const viewName = 'csv_file_not_processed_error_summary';
        const detailViewName = 'csv_file_not_processed_error';

        function getDetailData(params) { 
            const hub_interaction_id = params.data.hub_interaction_id;
             
            fetch(window.shell.serverSideUrl(`/api/ux/tabular/jooq/${schemaName}/${detailViewName}/hub_interaction_id/${hub_interaction_id}.json`))
                .then(response => {
                    if (response.url.includes('/?timeout=true')) {
                        window.location.href = '/?timeout=true'; // Redirect to login page
                        return null; // Prevent further processing of the response
                    }
                    return response.json();
                })
                .then(response => {
                    params.successCallback(response);
                })
                .catch(error => {
                    console.error('Error fetching details data' + error);
                });
        }

        document.addEventListener('DOMContentLoaded', function () {

        const detailGrid = [
                            { 
                                headerName: "Error Message", 
                                field: "error", 
                                filter: "agTextColumnFilter", 
                                headerTooltip: "The detailed error message describing the validation issue.",
                                tooltipField: "error" 
                            },
                            { 
                                headerName: "Description", 
                                field: "description", 
                                filter: "agTextColumnFilter", 
                                headerTooltip: "A brief description of the validation error.",
                                tooltipField: "description" 
                            },
                            { 
                                headerName: "File Name", 
                                field: "file_name", 
                                filter: "agTextColumnFilter", 
                                headerTooltip: "The name of the CSV file where the error occurred."
                            }
        ];

            const modalAide = new ModalAide();
            const agGridInstance = new AGGridAideBuilder()
            .withColumnDefs([
                            { 
                                headerName: "Created Time", 
                                field: "created_at", 
                                sortable: true, 
                                sort: "desc", 
                                filter: "agDateColumnFilter", 
                                headerTooltip: "The timestamp when the CSV validation error was recorded."
                            },
                            { 
                                headerName: "TechBD Tenant ID", 
                                field: "tenant_id", 
                                filter: "agTextColumnFilter", 
                                headerTooltip: "The unique identifier for the TechBD tenant associated with the CSV file.",                               
                            },    
                            { 
                                headerName: "TechBD Zip File Interaction ID", 
                                field: "hub_interaction_id", 
                                filter: "agTextColumnFilter", 
                                headerTooltip: "The unique zip file Interaction ID for the TechBD tenant associated with the CSV file.",
                                cellRenderer: 'agGroupCellRenderer'                                
                            },                         
                            { 
                                headerName: "URI", 
                                field: "uri", 
                                filter: "agTextColumnFilter", 
                                headerTooltip: "The URI where the CSV file was submitted or validated."
                            },
                            { 
                                headerName: "Error Type", 
                                field: "error_types", 
                                filter: "agTextColumnFilter", 
                                headerTooltip: "The category or type of validation error encountered."
                            },                            
                            { 
                                headerName: "Zip File Name", 
                                field: "zip_file_name", 
                                filter: "agTextColumnFilter", 
                                headerTooltip: "The name of the ZIP file where the error occurred."
                            },                                                       
                            { 
                                headerName: "Origin", 
                                field: "origin", 
                                filter: "agTextColumnFilter", 
                                headerTooltip: "The origin of the CSV file."
                            }, 
                            { 
                                headerName: "User Agent", 
                                field: "user_agent", 
                                filter: "agTextColumnFilter", 
                                headerTooltip: "The User Agent of the user who submitted the CSV file."
                            }                            
                        ])
                .withServerSideDatasource(
                    window.shell.serverSideUrl(`/api/ux/tabular/jooq/${schemaName}/${viewName}.json`),
                    (data, valueCols) => {
                        return valueCols.map(col => ({
                            headerName: col.displayName,
                            field: col.field
                        }));
                    },
                )
                .withMasterDetail(true)
                .withDetailCellRendererParams({
                    detailGridOptions: {
                        columnDefs: detailGrid,
                        defaultColDef: {
                            flex: 1
                        }
                    },
                    getDetailRowData: params => {
                        getDetailData(params);
                    }
                })
                .withDetailRowAutoHeight(false)
                .withModalAide(modalAide)
                .withGridDivStyles({ height: "750px", width: "100%" })
                .build();

            agGridInstance.init('serverDataGrid');
        });
    </script>
</head>

<body>
    <div layout:fragment="content">
        <div class="grid-description">
            This data grid provides a detailed overview of files within the submitted ZIP archive that could not be processed. Each row highlights specific issues—such as missing files, incorrect formats, or encoding problems like "File is not UTF-8 encoded"—along with the corresponding error messages. The grid includes columns for the file name, tenant information, and the type of error encountered, helping users quickly identify and address file-level issues. A drill-down feature is available for each entry, allowing users to explore detailed insights, including the full error message, description, and the associated file name. This ensures all necessary files are correctly prepared for further validation and processing.
         </div>
        <div id="serverDataGrid" class="ag-theme-alpine"></div>
    </div>
</body>

</html>