<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/prime}">

<head> 

    <!-- if JSON Viewer is not already in the layout, add the following -->
    <!-- <script src="https://unpkg.com/@alenaksu/json-viewer@2.0.0/dist/json-viewer.bundle.js"></script> -->

    <th:block th:insert="./fragments/common-head-aggrid :: common-head-aggrid"></th:block>
    <style>
        .grid-description {
            font-size: 14px;
            line-height: 1.5rem;
            margin: 8px 0px 10px 15px;
        }
    </style>
    <script type="module">
        import { AGGridAide, AGGridAideBuilder } from '@presentation/shell/aggrid-aide.js';
        import ModalAide from '@presentation/shell/modal-aide.js';
        import { Helpers } from '@presentation/shell/helpers.js';

        const schemaName = 'techbd_udi_ingress';
        const viewName = 'fhir_validation_issue';
        const igPublication = 'fhir_validation_issue_details';
        const igPublicationColumnDefs = [
            { headerName: "IG Publication Issue", field: "issue", filter: "agTextColumnFilter", tooltipValueGetter: (params) => `${params.value}`, headerTooltip: "A list of specific validation issues detected during the publication process, such as unknown profiles or unrecognized extensions." },
            { headerName: "Severity", field: "issue_severity", filter: "agTextColumnFilter"  },
            { headerName: "Count", field: "issue_count", filter: "agNumberColumnFilter", headerTooltip: "The number of times this specific issue has been encountered across different interactions within a particular IG version." }
        ];
        function getIgPublicationGridData(params) {
            const ig_version = encodeURIComponent(params.data.ig_version) || params.data.ig_version;
            const validation_engine = encodeURIComponent(params.data.validation_engine) || params.data.validation_engine;
            const issue_date = encodeURIComponent(params.data.issue_date) || params.data.issue_date;

            fetch(window.shell.serverSideUrl(`/api/ux/tabular/jooq/multiparam/${schemaName}/${igPublication}/ig_version/${ig_version}/validation_engine/${validation_engine}/issue_date/${issue_date}.json`))
                .then(response => {
                    if (response.url.includes('/?timeout=true')) {
                        window.location.href = '/?timeout=true'; // Redirect to login page
                        return null; // Prevent further processing of the response
                    }
                    return response.json();
                })
                .then(response => {
                    params.successCallback(response);
                })
                .catch(error => {
                    console.error('Error fetching details data' + error);
                });
        }
        document.addEventListener('DOMContentLoaded', function () {
            const modalAide = new ModalAide();
            const helpers = new Helpers();
            const agGridInstance = new AGGridAideBuilder()
                .withColumnDefs([
                    { headerName: "IG version", field: "ig_version", filter: "agTextColumnFilter", headerTooltip: "The version of the Implementation Guide associated with the FHIR data and its validation.", cellRenderer: 'agGroupCellRenderer' },
                    { headerName: "Issue Identified On", field: "issue_date", filter: "agDateColumnFilter", headerTooltip: "Indicates the most recent date when the issue was detected, helping users track the timeline of validation problems." },
                    { headerName: "Validation Engine", field: "validation_engine", filter: "agTextColumnFilter", headerTooltip: "The validation engine used to validate the FHIR data against the Implementation Guide (IG)." },
                    { headerName: "Count Of URLs With Issues", field: "distinct_issue_count", filter: "agNumberColumnFilter", headerTooltip: "Represents the number of URLs with issues found on the selected date, allowing users to understand the frequency and impact of each issue." }
                ]) 
                .withServerSideDatasource(
                    window.shell.serverSideUrl(`/api/ux/tabular/jooq/${schemaName}/${viewName}.json`),
                    (data, valueCols) => {
                        return valueCols.map(col => ({
                            headerName: col.displayName,
                            field: col.field
                        }));
                    },
                )
                .withMasterDetail(true)
                .withDetailCellRendererParams({
                    detailGridOptions: {
                        columnDefs: igPublicationColumnDefs,
                        defaultColDef: {
                            flex: 1
                        }
                    },
                    getDetailRowData: params => {
                        getIgPublicationGridData(params);
                    }
                })
                .withModalAide(modalAide)
                .withGridDivStyles({ height: "750px", width: "100%" })
                .build();

            agGridInstance.init('serverDataGrid');
            // Add date-range text 
            // Inject the date range into the HTML
            helpers.injectDateRangeText('date-range', 'This widget provides a comprehensive overview of IG (Implementation Guide) publication issues by           displaying HTTP interactions that encountered validation problems. The grid includes columns such as IG Version, Issue Identified On, Validation Engine, and Count, with the ability to filter records based on a selected date range from <b>{startDate}</b> to <b>{endDate}</b>.',2);
        });
    </script>
</head>

<body>
    <div layout:fragment="content">
        <div class="grid-description"  >
            <p  id="date-range"></p>
            <ul class="list-disc pl-4">
                <li><strong>IG Version:</strong> Displays the version of the Implementation Guide associated with each
                    interaction. This column features a collapsible arrow on the left side; clicking this arrow expands
                    a drill-down view, allowing users to see a detailed list of issues detected for that specific IG
                    version.</li>
                <li><strong>Issue Identified On:</strong> Indicates the most recent date when the issue was detected,
                    helping users track the timeline of validation problems.</li>
                <li><strong>Validation Engine:</strong> Shows the name of the validation engine used to detect the
                    issues, providing context about the tool or system involved in the validation process.</li>
                <li><strong>Count Of URLs With Issues:</strong> Represents the number of URLs with issues found on the selected date,
                    allowing users to understand the frequency and impact of each issue.</li>
            </ul>

            <p>The widget lists specific issues detected, such as unknown profile references or unrecognized extensions.
                Common problems include profiles that haven't been checked due to being unknown, and extensions or code
                systems that are not recognized. This information helps users quickly identify and resolve validation
                errors, ensuring that IG publications meet the required standards and maintain data integrity. The
                drill-down feature in the IG Version column further enhances usability by allowing
                users to explore the details of each issue and its frequency, making it easier to pinpoint and address
                validation errors.</br>
                Click below to see SHIN-NY IG Profile URL's Used For Validation.
            </p>

                <details class="mt-[10px] mb-[10px] ml-[8px]">
                    <summary><strong>SHIN-NY IG Profile URL's Used For Validation</strong></summary>
                  <p> 
                    <ul class="list-disc pl-4">
                        <li><strong>Default profile URL:</strong> 
                            <ul class="list-square pl-4">
                                <li>
                            <a href="https://shinny.org/us/ny/hrsn/StructureDefinition-SHINNYBundleProfile.json" target="_blank">https://shinny.org/us/ny/hrsn/StructureDefinition-SHINNYBundleProfile.json</a></li>
                            </ul></li>
                        
                        <li><strong>Structure Definitions URLs:</strong>
                          <ul class="list-square pl-4">
                            <li><a href="https://shinny.org/ImplementationGuide/HRSN/StructureDefinition-shinny-encounter.json" target="_blank">https://shinny.org/ImplementationGuide/HRSN/StructureDefinition-shinny-encounter.json</a></li>
                            <li><a href="https://shinny.org/ImplementationGuide/HRSN/StructureDefinition-shinny-Consent.json" target="_blank">https://shinny.org/ImplementationGuide/HRSN/StructureDefinition-shinny-Consent.json</a></li>
                            <li><a href="https://shinny.org/ImplementationGuide/HRSN/StructureDefinition-shin-ny-organization.json" target="_blank">https://shinny.org/ImplementationGuide/HRSN/StructureDefinition-shin-ny-organization.json</a></li>
                            <li><a href="https://shinny.org/ImplementationGuide/HRSN/StructureDefinition-shinny-patient.json" target="_blank">https://shinny.org/ImplementationGuide/HRSN/StructureDefinition-shinny-patient.json</a></li>
                            <li><a href="https://shinny.org/ImplementationGuide/HRSN/StructureDefinition-shin-ny-practitioner.json" target="_blank">https://shinny.org/ImplementationGuide/HRSN/StructureDefinition-shin-ny-practitioner.json</a></li>
                            <li><a href="https://shinny.org/ImplementationGuide/HRSN/StructureDefinition-shinny-observation-screening-response.json" target="_blank">https://shinny.org/ImplementationGuide/HRSN/StructureDefinition-shinny-observation-screening-response.json</a></li>
                            <li><a href="https://shinny.org/ImplementationGuide/HRSN/StructureDefinition-shinny-questionnaire.json" target="_blank">https://shinny.org/ImplementationGuide/HRSN/StructureDefinition-shinny-questionnaire.json</a></li>
                            <li><a href="https://shinny.org/ImplementationGuide/HRSN/StructureDefinition-shinny-questionnaire-response.json" target="_blank">https://shinny.org/ImplementationGuide/HRSN/StructureDefinition-shinny-questionnaire-response.json</a></li>
                            <li><a href="https://shinny.org/ImplementationGuide/HRSN/StructureDefinition-shinny-observation-assessment.json" target="_blank">https://shinny.org/ImplementationGuide/HRSN/StructureDefinition-shinny-observation-assessment.json</a></li>
                            <li><a href="https://shinny.org/ImplementationGuide/HRSN/StructureDefinition-shinny-sdoh-procedure.json" target="_blank">https://shinny.org/ImplementationGuide/HRSN/StructureDefinition-shinny-sdoh-procedure.json</a></li>
                            <li><a href="https://shinny.org/ImplementationGuide/HRSN/StructureDefinition-SHINNYSDOHServiceRequest.json" target="_blank">https://shinny.org/ImplementationGuide/HRSN/StructureDefinition-SHINNYSDOHServiceRequest.json</a></li>
                            <li><a href="https://shinny.org/ImplementationGuide/HRSN/StructureDefinition-SHINNYSDOHTaskForReferralManagement.json" target="_blank">https://shinny.org/ImplementationGuide/HRSN/StructureDefinition-SHINNYSDOHTaskForReferralManagement.json</a></li>
                            <li><a href="https://shinny.org/ImplementationGuide/HRSN/StructureDefinition-SHINNY-SDOHCC-Condition.json" target="_blank">https://shinny.org/ImplementationGuide/HRSN/StructureDefinition-SHINNY-SDOHCC-Condition.json</a></li>
                            <li><a href="https://shinny.org/ImplementationGuide/HRSN/StructureDefinition-shinny-SDOHCCGoal.json" target="_blank">https://shinny.org/ImplementationGuide/HRSN/StructureDefinition-shinny-SDOHCCGoal.json</a></li>
                            <li><a href="https://shinny.org/ImplementationGuide/HRSN/StructureDefinition-shin-ny-observation-sexual-orientation.json" target="_blank">https://shinny.org/ImplementationGuide/HRSN/StructureDefinition-shin-ny-observation-sexual-orientation.json</a></li>
                            <li><a href="https://shinny.org/ImplementationGuide/HRSN/StructureDefinition-SHINNYMeta.json" target="_blank">https://shinny.org/ImplementationGuide/HRSN/StructureDefinition-SHINNYMeta.json</a></li>
                            <li><a href="https://shinny.org/ImplementationGuide/HRSN/StructureDefinition-county.json" target="_blank">https://shinny.org/ImplementationGuide/HRSN/StructureDefinition-county.json</a></li>
                            <li><a href="https://shinny.org/ImplementationGuide/HRSN/StructureDefinition-middle-name.json" target="_blank">https://shinny.org/ImplementationGuide/HRSN/StructureDefinition-middle-name.json</a></li>
                            <li><a href="https://shinny.org/ImplementationGuide/HRSN/StructureDefinition-shinny-personal-pronouns.json" target="_blank">https://shinny.org/ImplementationGuide/HRSN/StructureDefinition-shinny-personal-pronouns.json</a></li>
                            <li><a href="https://shinny.org/ImplementationGuide/HRSN/StructureDefinition-shinny-gender-identity.json" target="_blank">https://shinny.org/ImplementationGuide/HRSN/StructureDefinition-shinny-gender-identity.json</a></li>
                            <li><a href="http://hl7.org/fhir/us/sdoh-clinicalcare/STU2.1/StructureDefinition-SDOHCC-ObservationScreeningResponse.json" target="_blank">http://hl7.org/fhir/us/sdoh-clinicalcare/STU2.1/StructureDefinition-SDOHCC-ObservationScreeningResponse.json</a></li>
                            <li><a href="http://hl7.org/fhir/us/core/STU7/StructureDefinition-us-core-birthsex.json" target="_blank">http://hl7.org/fhir/us/core/STU7/StructureDefinition-us-core-birthsex.json</a></li>
                            <li><a href="http://hl7.org/fhir/us/core/STU7/StructureDefinition-us-core-race.json" target="_blank">http://hl7.org/fhir/us/core/STU7/StructureDefinition-us-core-race.json</a></li>
                            <li><a href="http://hl7.org/fhir/us/core/STU7/StructureDefinition-us-core-ethnicity.json" target="_blank">http://hl7.org/fhir/us/core/STU7/StructureDefinition-us-core-ethnicity.json</a></li>
                            <li><a href="http://hl7.org/fhir/us/core/STU7/StructureDefinition-us-core-practitioner.json" target="_blank">http://hl7.org/fhir/us/core/STU7/StructureDefinition-us-core-practitioner.json</a></li>
                            <li><a href="https://hl7.org/fhir/us/core/STU7/StructureDefinition-us-core-genderIdentity.json" target="_blank">https://hl7.org/fhir/us/core/STU7/StructureDefinition-us-core-genderIdentity.json</a></li>                            
                            <li><a href="http://hl7.org/fhir/us/sdoh-clinicalcare/STU2.1/StructureDefinition-SDOHCC-ObservationAssessment.json" target="_blank">http://hl7.org/fhir/us/sdoh-clinicalcare/STU2.1/StructureDefinition-SDOHCC-ObservationAssessment.json</a></li>
                            <li><a href="https://hl7.org/fhir/us/ecr/2021Jan/StructureDefinition-disability-status.json" target="_blank">https://hl7.org/fhir/us/ecr/2021Jan/StructureDefinition-disability-status.json</a></li>
                            <li><a href="http://hl7.org/fhir/us/sdoh-clinicalcare/STU2.1/StructureDefinition-SDOHCC-Procedure.json" target="_blank">http://hl7.org/fhir/us/sdoh-clinicalcare/STU2.1/StructureDefinition-SDOHCC-Procedure.json</a></li>
                          </ul>
                        </li>
                      
                        <li><strong>Code System URLs:</strong>
                          <ul class="list-square pl-4">
                            <li><a href="https://shinny.org/ImplementationGuide/HRSN/CodeSystem-nys-county-codes.json" target="_blank">https://shinny.org/ImplementationGuide/HRSN/CodeSystem-nys-county-codes.json</a></li>
                            <li><a href="https://shinny.org/ImplementationGuide/HRSN/CodeSystem-NYS-HRSN-Questionnaire.json" target="_blank">https://shinny.org/ImplementationGuide/HRSN/CodeSystem-NYS-HRSN-Questionnaire.json</a></li>
                            <li><a href="http://hl7.org/fhir/us/sdoh-clinicalcare/STU2.1/CodeSystem-SDOHCC-CodeSystemTemporaryCodes.json" target="_blank">http://hl7.org/fhir/us/sdoh-clinicalcare/STU2.1/CodeSystem-SDOHCC-CodeSystemTemporaryCodes.json</a></li>
                            <li><a href="http://hl7.org/fhir/us/core/STU7/CodeSystem-condition-category.json" target="_blank">http://hl7.org/fhir/us/core/STU7/CodeSystem-condition-category.json</a></li>
                            <li><a href="https://hl7.org/fhir/codesystem-item-type.json" target="_blank">https://hl7.org/fhir/codesystem-item-type.json</a></li>                            
                          </ul>
                        </li>
                      
                        <li><strong>Value Set URLs:</strong>
                          <ul class="list-square pl-4">
                            <li><a href="https://shinny.org/ImplementationGuide/HRSN/ValueSet-SHINNYConsentProvisionTypeVS.json" target="_blank">https://shinny.org/ImplementationGuide/HRSN/ValueSet-SHINNYConsentProvisionTypeVS.json</a></li>
                            <li><a href="https://shinny.org/ImplementationGuide/HRSN/ValueSet-SHINNYCountyVS.json" target="_blank">https://shinny.org/ImplementationGuide/HRSN/ValueSet-SHINNYCountyVS.json</a></li>
                            <li><a href="https://shinny.org/ImplementationGuide/HRSN/ValueSet-SHINNYHTTPVerbsVS.json" target="_blank">https://shinny.org/ImplementationGuide/HRSN/ValueSet-SHINNYHTTPVerbsVS.json</a></li>
                            <li><a href="https://shinny.org/ImplementationGuide/HRSN/ValueSet-SHINNYPersonalPronounsVS.json" target="_blank">https://shinny.org/ImplementationGuide/HRSN/ValueSet-SHINNYPersonalPronounsVS.json</a></li>
                            <li><a href="https://shinny.org/ImplementationGuide/HRSN/ValueSet-SHINNYScreeningVS.json" target="_blank">https://shinny.org/ImplementationGuide/HRSN/ValueSet-SHINNYScreeningVS.json</a></li>
                            <li><a href="http://hl7.org/fhir/us/core/STU7/ValueSet-omb-race-category.json" target="_blank">http://hl7.org/fhir/us/core/STU7/ValueSet-omb-race-category.json</a></li>
                            <li><a href="http://hl7.org/fhir/us/core/STU7/ValueSet-omb-ethnicity-category.json" target="_blank">http://hl7.org/fhir/us/core/STU7/ValueSet-omb-ethnicity-category.json</a></li>
                            <li><a href="http://hl7.org/fhir/us/core/STU7/ValueSet-us-core-usps-state.json" target="_blank">http://hl7.org/fhir/us/core/STU7/ValueSet-us-core-usps-state.json</a></li>
                            <li><a href="http://hl7.org/fhir/us/core/STU7/ValueSet-simple-language.json" target="_blank">http://hl7.org/fhir/us/core/STU7/ValueSet-simple-language.json</a></li>
                            <li><a href="http://hl7.org/fhir/us/core/STU7/ValueSet-us-core-encounter-type.json" target="_blank">http://hl7.org/fhir/us/core/STU7/ValueSet-us-core-encounter-type.json</a></li>
                            <li><a href="http://hl7.org/fhir/us/sdoh-clinicalcare/STU2.1/ValueSet-SDOHCC-ValueSetObservationStatus.json" target="_blank">http://hl7.org/fhir/us/sdoh-clinicalcare/STU2.1/ValueSet-SDOHCC-ValueSetObservationStatus.json</a></li>
                            <li><a href="http://hl7.org/fhir/us/core/STU7/ValueSet-us-core-condition-code.json" target="_blank">http://hl7.org/fhir/us/core/STU7/ValueSet-us-core-condition-code.json</a></li>
                            <li><a href="http://hl7.org/fhir/us/core/STU7/ValueSet-us-core-procedure-code.json" target="_blank">http://hl7.org/fhir/us/core/STU7/ValueSet-us-core-procedure-code.json</a></li>
                            <li><a href="http://hl7.org/fhir/us/sdoh-clinicalcare/STU2.1/ValueSet-SDOHCC-ValueSetObservationStatus.json" target="_blank">http://hl7.org/fhir/us/sdoh-clinicalcare/STU2.1/ValueSet-SDOHCC-ValueSetObservationStatus.json</a></li>
                            <li><a href="http://hl7.org/fhir/us/sdoh-clinicalcare/STU2.1/ValueSet-SDOHCC-ValueSetLOINCSNOMEDCT.json" target="_blank">http://hl7.org/fhir/us/sdoh-clinicalcare/STU2.1/ValueSet-SDOHCC-ValueSetLOINCSNOMEDCT.json</a></li>
                            <li><a href="http://hl7.org/fhir/us/sdoh-clinicalcare/STU2.1/ValueSet-SDOHCC-ValueSetReferralTaskStatus.json" target="_blank">http://hl7.org/fhir/us/sdoh-clinicalcare/STU2.1/ValueSet-SDOHCC-ValueSetReferralTaskStatus.json</a></li>

                          </ul>
                        </li>
                      </ul>
                      
              </p>
                  </details>

        </div>
        <div id="serverDataGrid" class="ag-theme-alpine"></div>
    </div>
</body>

</html>