<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/prime}">

<head>
    <link rel="stylesheet" href="https://unpkg.com/ag-grid-community/styles/ag-grid.css">
    <link rel="stylesheet" href="https://unpkg.com/ag-grid-community/styles/ag-theme-alpine.css">

    <!-- if JSON Viewer is not already in the layout, add the following -->
    <!-- <script src="https://unpkg.com/@alenaksu/json-viewer@2.0.0/dist/json-viewer.bundle.js"></script> -->

    <script src="https://unpkg.com/ag-grid-enterprise/dist/ag-grid-enterprise.js"></script>
    <style>
        .grid-description {
            font-size: 14px;
            margin: 8px 0px 10px 15px;
        }
    </style>
    <script type="module">
        import { AGGridAide, AGGridAideBuilder } from '@presentation/shell/aggrid-aide.js';
        import ModalAide from '@presentation/shell/modal-aide.js';

        const schemaName    = 'techbd_udi_ingress';
        const viewName      = 'fhir_validation_issue';
        const igPublication = 'fhir_session_diagnostics';
        const igPublicationColumnDefs = [ 
            { headerName: "Issues", field: "issue", filter: "agTextColumnFilter"  } 
        ];
        function getIgPublicationGridData(params) {
            const hub_interaction_id = params.data.hub_interaction_id; 
            fetch(window.shell.serverSideUrl(`/api/ux/tabular/jooq/${schemaName}/${viewName}/hub_interaction_id/${hub_interaction_id}.json`))
                .then(response => response.json())
                .then(response => {
                    params.successCallback(response);
                })
                .catch(error => {
                    console.error('Error fetching details data' + error);
                });
        }
        document.addEventListener('DOMContentLoaded', function () {
            const modalAide = new ModalAide();
            const agGridInstance = new AGGridAideBuilder()
                .withColumnDefs([
 
                    { headerName: "Interaction ID", field: "hub_interaction_id", filter: "agTextColumnFilter",cellRenderer: 'agGroupCellRenderer' },  
                    { headerName: "Validation Engine", field: "validation_engine", filter: "agTextColumnFilter"  },                    
                    { headerName: "Completed Date", field: "date_time", filter: "agTextColumnFilter",    valueFormatter: AGGridAide.isoDateTimeValueFormatter(true) }
                ]) 
                .withMasterDetail(true)
                .withDetailCellRendererParams({
                   
                    
                    detailGridOptions: {
                        columnDefs: igPublicationColumnDefs,
                        defaultColDef: {
                            flex: 1
                        }
                    },
                    getDetailRowData: params => { 
                        getIgPublicationGridData(params);
                    }
                })
                .withGridOptions({
                    overlayNoRowsTemplate: '<span class="ag-overlay-no-rows-center">No Data Found</span>',
                    rowModelType: 'clientSide', // Set to clientSide row model
                    onGridReady: (params) => {
                        // Fetch the data once the grid is ready
                        fetch(window.shell.serverSideUrl(`/api/ux/tabular/jooq/${schemaName}/${viewName}/distinct-hub-interactions.json`))
                            .then(response => response.json())
                            .then(data => {
                                if (Array.isArray(data) && data.length > 0) {
                                    // Load data into the grid using client-side row model
                                    params.api.applyTransaction({ add: data });
                                    //params.api.setRowData(data);
                                    console.log('Data loaded and switched to client-side row model');
                                } else {
                                    params.api.showNoRowsOverlay();
                                }
                            })
                            .catch(error => {
                                console.error('Error fetching data:', error);
                                params.api.showNoRowsOverlay();
                            });
                    }
                })
                .withMasterDetail(true)
                .withDetailCellRendererParams({
                    detailGridOptions: {
                        columnDefs: igPublicationColumnDefs,
                        defaultColDef: {
                            flex: 1
                        }
                    },
                    getDetailRowData: params => {
                        getIgPublicationGridData(params);
                    }
                })
                .withModalAide(modalAide)
                .withGridDivStyles({ height: "750px", width: "100%" })
                .build();

            agGridInstance.init('serverDataGrid');
        });
    </script>
</head>

<body>
    <div layout:fragment="content">
        <div class="grid-description" id="date-range"> 
            This widget provides an overview of IG (Implementation Guide) publication issues by focusing on HTTP interactions that encountered validation problems. The data is organized by interaction ID, validation engine, and completed date. Users can click on the arrow next to the interaction ID to expand and view detailed information about the issues, such as unknown profiles, extensions, and code systems. This setup allows for quick identification and resolution of validation errors, ensuring that IG publications comply with the required standards and that any discrepancies are promptly addressed.
        </div>       
        <div id="serverDataGrid" class="ag-theme-alpine"></div>
    </div>
</body>

</html>