<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/prime}">

<head> 
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <style>
        .grid-description {
            font-size: 14px;
            margin: 5px 0px 8px 15px;
        }

        .grid-title {
            font-size: 18px;
            font-weight: bold;
            margin: 12px 0px 11px 15px;
        }

        li {
            margin-bottom: 10px;
        }

        h1.assemtion {
            font-size: 15px;
            font-weight: bold;
            margin: 12px 0px 11px 2px;
        }

        #date-picker-container {
            margin-top: 20px;
            display: flex;
            gap: 10px;
            align-items: center;
            justify-content: flex-start;
        }

        .date-picker-label {
            width: 100px;
            line-height: 35px;
        }

        .date-picker-label {
            text-align: right;
        }

        #searchButton {
            margin-left: 10px;
            background-color: #e7e7e7;
            border: none;
            border-radius: 12px;
            color: black;
            padding: 15px 24px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
        }

        #clearButton {
            margin-left: 10px;
            background-color: #e7e7e7;
            border: none;
            border-radius: 12px;
            color: black;
            padding: 15px 24px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
        }

    </style>
    <!-- if JSON Viewer is not already in the layout, add the following -->
    <!-- <script src="https://unpkg.com/@alenaksu/json-viewer@2.0.0/dist/json-viewer.bundle.js"></script> -->

    <th:block th:insert="./fragments/common-head-aggrid :: common-head-aggrid"></th:block>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <script type="module">
        import { AGGridAide, AGGridAideBuilder } from '@presentation/shell/aggrid-aide.js';
        import ModalAide from '@presentation/shell/modal-aide.js';
        import { Helpers } from '@presentation/shell/helpers.js';

        const schemaName = 'techbd_udi_ingress';
        const viewName = 'fhir_needs_attention';
        const storedProcName = 'get_fhir_needs_attention';
        const datalakeSubmissionDetails = 'fhir_needs_attention_details';
        const datalakeSubmissionDetailsSP = 'get_fhir_needs_attention_details';
        const missingSubmissionDetails = 'missing_datalake_submission_details';
        const missingSubmissionDetailsSP = 'get_missing_datalake_submission_details';
        document.addEventListener('DOMContentLoaded', function () {
            const helpers = new Helpers();
            const modalAide = new ModalAide();

            function cellRenderer1(params) {
                const container = document.createElement('div');
                const arrow = document.createElement('span');
                const button = document.createElement('button');

                arrow.innerText = params.node.expanded ? '▼' : '▶';
                arrow.style.cursor = 'pointer';
                arrow.style.marginRight = '5px';

                button.innerText = params.data.qe_total_submissions;
                button.style.marginLeft = '5px';

                container.appendChild(arrow);
                container.appendChild(button);

                container.addEventListener('click', () => {
                    // Set buttonPressed before expanding
                    params.node.data.buttonPressed = 'qe_total_submissions';
                    params.node.setExpanded(!params.node.expanded);
                    arrow.innerText = params.node.expanded ? '▼' : '▶';
                });

                return container;
            }

            function cellRenderer2(params) {
                const container = document.createElement('div');
                const arrow = document.createElement('span');
                const button = document.createElement('button');

                arrow.innerText = params.node.expanded ? '▼' : '▶';
                arrow.style.cursor = 'pointer';
                arrow.style.marginRight = '5px';

                button.innerText = params.data.shinny_datalake_submissions;
                button.style.marginLeft = '5px';

                container.appendChild(arrow);
                container.appendChild(button);

                container.addEventListener('click', () => {
                    // Set buttonPressed before expanding
                    params.node.data.buttonPressed = 'shinny_datalake_submissions';
                    params.node.setExpanded(!params.node.expanded);
                    arrow.innerText = params.node.expanded ? '▼' : '▶';
                });

                return container;
            }

            function qeNameCellRenderer(params) {
                const qeName = params.data.qe_name;
                const startDate = $('#start-date').datepicker('getDate');
                const endDate = $('#end-date').datepicker('getDate');
                const formattedStartDate = formatDate(startDate);
                const formattedEndDate = formatDate(endDate);

                const link = `/needs-attention/techbd-to-scoring-engine?qeName=${qeName}&fromDate=${formattedStartDate}&toDate=${formattedEndDate}`;
                return `<a href="${link}" style="text-decoration:underline">${qeName}</a>`;
                // return `${qeName}`;
            }



            const detailGridOptions2 = {
                columnDefs: [
                    {
                        headerName: "TechBD Interaction Id",
                        field: "hub_interaction_id",
                        filter: "agTextColumnFilter",
                        headerTooltip: "Unique Id For Identify The Record",
                        cellRenderer: params => {
                            const hub_interaction_id = params.value;
                            // const error_type = params.data.error_type;
                            const sat_interaction_http_request_id = params.data.sat_interaction_http_request_id;
                            const button = document.createElement('button');
                            button.innerText = hub_interaction_id;
                            button.style.textDecoration = 'underline';
                            button.addEventListener('click', () => {
                                modalAide.viewFetchedJsonValue(window.shell.serverSideUrl(`/api/ux/tabular/jooq/${schemaName}/interaction_http_fhir_request/sat_interaction_http_request_id/${sat_interaction_http_request_id}.json`));
                            });
                            return button;
                        }
                    },
                    { headerName: "Submission Date", field: "created_at", filter: "agDateColumnFilter" },
                ],
                detailRowHeight: 280,
                defaultColDef: {
                    flex: 1
                }
            };


            const gridOptions = {
                columnDefs: [
                    {
                        headerName: "TechBD Tenant ID",
                        field: "qe_name",
                        filter: "agTextColumnFilter",
                        cellRenderer: qeNameCellRenderer,
                        headerTooltip: "ID of the tenant involved in the interaction"
                    },
                    {
                        headerName: "TechBD Tenant ID to Tech by Design",
                        field: "qe_total_submissions",
                        // cellRenderer: cellRenderer1,
                        // cellStyle: function (params) {
                        //     console.log(params.data.shinny_datalake_submissions_failed)
                        //     if (params.data.qe_total_submissions != (params.data.shinny_datalake_submissions + params.data.shinny_datalake_submissions_failed)) {
                        //         return { color: 'red' };
                        //     }
                        //     return null;
                        // },
                        filter: "agNumberColumnFilter",
                        headerTooltip: "FHIR File count from TechBD Tenant ID to Tech by Design"
                    },
                    {
                        headerName: "Tech by Design to SHIN-NY Data Lake",
                        field: "shinny_datalake_submissions",
                        filter: "agNumberColumnFilter",
                        cellRenderer: cellRenderer2,
                        cellStyle: function (params) {
                            if (params.data.qe_total_submissions !== params.data.shinny_datalake_submissions) {
                                return { color: 'red' };
                            }
                            return null;
                        },
                        headerTooltip: "FHIR File count from Tech by Design to SHIN-NY Data Lake"
                    }
                ],
                masterDetail: true,
                detailCellRendererParams: (params) => {

                    const startDate = $('#start-date').datepicker('getDate');
                    const endDate = $('#end-date').datepicker('getDate');

                    const formattedStartDate = formatDate(startDate);   //use formated date and avoid format unnessary date 
                    const formattedEndDate = formatDate(endDate);

                    // const paramsJson = encodeURIComponent(JSON.stringify(storedProcparams));

                    const storedProcparams = {
                        "tenant_id": params.data.qe_name,
                        "start_date": formattedStartDate,
                        "end_date": formattedEndDate,
                    };

                    const gridRequestBody = {
                        "startRow": 0,
                        "endRow": 100,
                        "rowGroupCols": [],
                        "valueCols": [],
                        "pivotCols": [],
                        "pivotMode": false,
                        "groupKeys": [],
                        "filterModel": {},
                        "sortModel": []
                    }

                    const paramsJson = encodeURIComponent(JSON.stringify(storedProcparams));

                    if (params.data.buttonPressed === 'shinny_datalake_submissions') {

                        const url = window.shell.serverSideUrl(`/api/ux/tabular/jooq/sp/${schemaName}/${datalakeSubmissionDetailsSP}.json?storedProcparams=${paramsJson}`);

                        return {
                            detailGridOptions: detailGridOptions2,
                            getDetailRowData: function (params) {
                                fetch(url, {
                                    method: 'POST',
                                    headers: {
                                        'Content-Type': 'application/json'
                                    },
                                    body: JSON.stringify(gridRequestBody)
                                })
                                    .then(response => {
                                        if (!response.ok) {
                                            console.error('Error fetching data:', response.status, response.statusText);
                                            return null;
                                        }
                                        if (response.url.includes('/?timeout=true')) {
                                            window.location.href = '/?timeout=true';
                                            return null;
                                        }
                                        return response.json();
                                    })
                                    .then(responseData => {
                                        const data = responseData.data;
                                        if (data) {
                                            params.successCallback(data);
                                        } else {
                                            console.warn('Data not found in the API response.');
                                            params.successCallback([]);
                                        }
                                    })
                            }, defaultColDef: {
                                flex: 1,
                                filter: true,
                            },
                        };

                    } else if (params.data.buttonPressed === 'qe_total_submissions') {

                        const url = window.shell.serverSideUrl(`/api/ux/tabular/jooq/${schemaName}/${missingSubmissionDetailsSP}/qe_name/${value}.json?storedProcparams=${paramsJson}`);

                        return {
                            detailGridOptions: detailGridOptions2,
                            getDetailRowData: function (params) {
                                const value = params.data.qe_name;
                                fetch(url, {
                                    method: 'POST',
                                    headers: {
                                        'Content-Type': 'application/json'
                                    },
                                    body: JSON.stringify(gridRequestBody)
                                })
                                    .then(response => {
                                        if (!response.ok) {
                                            console.error('Error fetching data:', response.status, response.statusText);
                                            return null;
                                        }
                                        if (response.url.includes('/?timeout=true')) {
                                            window.location.href = '/?timeout=true';
                                            return null;
                                        }
                                        return response.json();
                                    })
                                    .then(responseData => {
                                        const data = responseData.data;
                                        if (data) {
                                            params.successCallback(data);
                                        } else {
                                            console.warn('Data not found in the API response.');
                                            params.successCallback([]);
                                        }
                                    })
                            }, defaultColDef: {
                                flex: 1,
                                filter: true,
                            },
                        };
                    }

                }
            };

            const today = new Date();
            const oneWeekAgo = new Date(today);
            oneWeekAgo.setDate(today.getDate() - 7);

            // Format dates as "mm-dd-yyyy"
            const formatDate = (date) => {
                const month = String(date.getMonth() + 1).padStart(2, '0');
                const day = String(date.getDate()).padStart(2, '0');
                const year = date.getFullYear();
                return `${month}-${day}-${year}`;
            };

            let initialStartDate = formatDate(oneWeekAgo);
            let initialEndDate = formatDate(today);

            // Datepicker Initialization: moved outside url fetch because those date format use only after click submit button       
            $("#start-date, #end-date").datepicker({
                dateFormat: "mm-dd-yy",
                onSelect: function () {
                    const startDate = $('#start-date').datepicker('getDate');
                    const endDate = $('#end-date').datepicker('getDate');
                    const formattedStartDate = formatDate(startDate);
                    const formattedEndDate = formatDate(endDate);

                    if (formattedStartDate !== initialStartDate || formattedEndDate !== initialEndDate) {
                        $('#clearButton').show();
                    } else {
                        $('#clearButton').hide();
                    }
                }
            });
            $("#start-date").datepicker("setDate", oneWeekAgo);
            $("#end-date").datepicker("setDate", today);

            $('#clearButton').hide();

            updateGridWithDates(oneWeekAgo, today);

            // Search Button Click Handler
            $('#searchButton').click(function () {
                $('#serverDataGrid').empty();
                const startDate = $('#start-date').datepicker('getDate');
                const endDate = $('#end-date').datepicker('getDate');
                updateGridWithDates(startDate, endDate);
            });

            $('#clearButton').click(function() {
               location.reload();
            });

            function updateGridWithDates(startDate, endDate) {

                const formattedStartDate = formatDate(startDate);
                const formattedEndDate = formatDate(endDate);

                const storedProcparams = {
                    "start_date": formattedStartDate,
                    "end_date": formattedEndDate,
                };

                helpers.injectDateRangeText('date-range', 'This widget compares the count of incoming synthetic files at each stage in the data processing pipeline, from the TechBD Tenant ID to Tech by Design then to the SHIN-NY Data Lake from <b>{startDate}</b> to <b>{endDate}</b>. It provides a clear view of data movement and processing consistency, highlighting discrepancies or drop-offs in the number of files between stages. This comparison helps in identifying potential issues and ensures the integrity of the data flow across the system.');

                const paramsJson = encodeURIComponent(JSON.stringify(storedProcparams));
                const url = `/api/ux/tabular/jooq/sp/${schemaName}/${storedProcName}.json?storedProcparams=${paramsJson}`;

                const agGridInstance = new AGGridAideBuilder()
                    .withGridOptions(gridOptions)
                    .withServerSideDatasource(
                        window.shell.serverSideUrl(url),
                        (data, valueCols) => {
                            return valueCols.map(col => ({
                                headerName: col.displayName,
                                field: col.field
                            }));
                        },
                    )
                    .withDetailCellRendererParams(gridOptions.detailCellRendererParams)
                    .withMasterDetail(true)
                    .withModalAide(modalAide)
                    .withGridDivStyles({ height: "750px", width: "100%" })
                    .build();

                agGridInstance.init('serverDataGrid');

            }
        });

    </script>
</head>

<body>
    <div layout:fragment="content">
        <div class="grid-title">FHIR Submission Overview</div>
        <div class="grid-description">
            <div id="date-range">
                <!-- The date range will be injected here -->
            </div>
            <h1 class="assemtion">Assumptions</h1>
            <ul class="list-disc pl-4">
                <li>The file count from TechBD Tenant ID to Tech by Design should match.</li>
                <li>The file count from Tech by Design to SHIN-NY Data Lake should match.</li>
                <li>If any of the numbers in one column do not match the corresponding numbers in another column, it
                    indicates an error, and the mismatched numbers are highlighted in red.</li>
                <li>If there are errors or issues, clicking on the red arrow before the count text allows for a
                    drill-down to see the detailed numbers.</li>
                <li>When viewing the numbers, clicking on them will open a popup containing the interaction details.
                </li>
            </ul>

        </div>
        <div id="date-picker-container">
            <label for="start-date" class="date-picker-label">Start Date:</label>
            <input type="text" id="start-date" name="start-date" readonly>
            <label for="end-date" class="date-picker-label">End Date:</label>
            <input type="text" id="end-date" name="end-date" readonly>
            <button id="searchButton">Search</button>
            <button id="clearButton">Clear</button>
        </div>
        <div id="serverDataGrid" class="ag-theme-alpine"></div>
    </div>

</body>

</html>