<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/prime}">

<head> 
    <style>
        .grid-description {
            font-size: 14px;
            margin: 8px 0px 10px 15px;
        }

        .grid-title {
            font-size: 18px;
            font-weight: bold;
            margin: 12px 0px 11px 15px;
        }

        li {
            margin-bottom: 10px;
        }

        h1.assemtion {
            font-size: 15px;
            font-weight: bold;
            margin: 12px 0px 11px 2px;
        }

        .ag-theme-alpine {
            width: 100%;
            height: 100%;
        }
        .ag-theme-alpine .ag-popup {
            position: absolute;
            z-index: 1000; /* Ensure it's on top */
            overflow: visible;
        }

    </style>
    <!-- if JSON Viewer is not already in the layout, add the following -->
    <!-- <script src="https://unpkg.com/@alenaksu/json-viewer@2.0.0/dist/json-viewer.bundle.js"></script> -->

    <th:block th:insert="./fragments/common-head-aggrid :: common-head-aggrid"></th:block>
    <script type="module">
        import { AGGridAide, AGGridAideBuilder } from '@presentation/shell/aggrid-aide.js';
        import ModalAide from '@presentation/shell/modal-aide.js';
        import { Helpers } from '@presentation/shell/helpers.js';


        // get qeName
        const queryString = window.location.search;
        const urlParams = new URLSearchParams(queryString);
        const qeName = urlParams.get('qeName');
        const schemaName = 'techbd_udi_ingress';
        const viewName = 'missing_datalake_submission_details';
        const missingSubmissionDetailsSP = 'get_missing_datalake_submission_details';
        const detailTableViewName = 'interaction_http_request_failed_needs_attention';

        let fromDate = urlParams.get('fromDate');
        let toDate = urlParams.get('toDate');

        const formatDateForStoredProc = (dateString) => {
            if (!dateString) return null;
            const [month, day, year] = dateString.split('-');
            return `${month}-${day}-${year}`;
        };

        const errorDetailsColDefs = [
            { headerName: "Error Type", field: "error_type", filter: "agTextColumnFilter" },
            { headerName: "Error Message", field: "error_message", filter: "agTextColumnFilter" },
            { headerName: "Date", field: "date", filter: "agTextColumnFilter", valueFormatter: AGGridAide.isoDateTimeValueFormatter() }
        ];



        document.addEventListener('DOMContentLoaded', function () {
            const helpers = new Helpers();
            const modalAide = new ModalAide();
            // Append parametrs at the end of ahref
            const urls = [
                '/needs-attention/techbd-to-scoring-engine',
                '/needs-attention/scn-to-qe',
                '/needs-attention/qe-to-techbd'
            ];

            const links = document.querySelectorAll('a');
            links.forEach(link => {
                if (urls.some(url => link.href.endsWith(url))) {
                    let updatedHref = link.href + `?qeName=${qeName}`;
                    if (fromDate) {
                        updatedHref += `&fromDate=${fromDate}`;
                    }
                    if (toDate) {
                        updatedHref += `&toDate=${toDate}`;
                    }
                    link.href = updatedHref;
                }
            });


            const heading = document.getElementById('heading-prime');
            if (heading) {
                heading.textContent += ` ${qeName}`;
            }

            document.querySelectorAll('ul.flex li a').forEach(link => {
                if (link.textContent.includes('(QE)')) {
                    link.textContent = link.textContent.replace('(QE)', qeName);
                }
            });    
            
            // Select the breadcrumb terminal item
            const breadcrumbTerminal = document.querySelector("#breadcrumb-terminal span");

            // Remove the text "Needs Attention -" if it exists
            if (breadcrumbTerminal) {
                breadcrumbTerminal.textContent = breadcrumbTerminal.textContent.replace("Needs Attention -", qeName).trim();
            }          
            
            const storedProcparams = {
                            "tenant_id": qeName,
                            "start_date": formatDateForStoredProc(fromDate),
                            "end_date": formatDateForStoredProc(toDate)
                        };

                        const gridRequestBody = {
                            "startRow": 0,
                            "endRow": 100,
                            "rowGroupCols": [],
                            "valueCols": [],
                            "pivotCols": [],
                            "pivotMode": false,
                            "groupKeys": [],
                            "filterModel": {},
                            "sortModel": []
                        }


            const paramsJson = encodeURIComponent(JSON.stringify(storedProcparams));

            const url = window.shell.serverSideUrl(`/api/ux/tabular/jooq/sp/${schemaName}/${missingSubmissionDetailsSP}.json?storedProcparams=${paramsJson}`);

            const agGridInstance = new AGGridAideBuilder()
                .withColumnDefs([
                    {
                        headerName: "TechBD Interaction Id",
                        field: "hub_interaction_id",
                        filter: "agTextColumnFilter",
                        cellRenderer: 'agGroupCellRenderer',
                        flex: 1,
                        cellRenderer: params => {
                            const hub_interaction_id = params.value;
                            const error_type = params.data.error_type;
                            const sat_interaction_http_request_id = params.data.sat_interaction_http_request_id;
                            const button = document.createElement('button');
                            button.style.textDecoration = 'underline';
                            button.innerText = hub_interaction_id;
                            button.addEventListener('click', () => { 
                                    modalAide.viewFetchedJsonValue(window.shell.serverSideUrl(`/api/ux/tabular/jooq/${schemaName}/interaction_http_fhir_request/sat_interaction_http_request_id/${sat_interaction_http_request_id}.json`));                                
                            });
                            return button;
                        }
                    }, 
                    { headerName: "Submission Date", field: "created_at", filter: "agDateColumnFilter", flex: 1 },
                ])
                .withServerSideDatasource(
                    window.shell.serverSideUrl(url),
                    (data, valueCols) => {
                        return valueCols.map(col => ({
                            headerName: col.displayName,
                            field: col.field
                        }));
                    },
                )
                .withDetailCellRendererParams({
                    detailGridOptions: {
                        columnDefs: errorDetailsColDefs,
                        defaultColDef: {
                            flex: 1
                        },
                        detailRowHeight: 100

                    },
                    getDetailRowData: params => {
                        const value = params.data.sat_interaction_http_request_id;
                        fetch(window.shell.serverSideUrl(`/api/ux/tabular/jooq/${schemaName}/${detailTableViewName}/sat_interaction_http_request_id/${value}.json`))
                            .then(response => {
                                if (response.url.includes('/?timeout=true')) {
                                    window.location.href = '/?timeout=true'; // Redirect to login page
                                    return null; // Prevent further processing of the response
                                }
                                return response.json();
                            })
                            .then(response => { 
                                params.successCallback(response);
                            })
                            .catch(error => {
                                console.error('Error fetching details data' + error);
                            });
                    }
                })
                //.withMasterDetail(true)
                .withModalAide(modalAide)
                .withGridDivStyles({ height: "500px", width: "100%" })
                .withGridOptions({
                    overlayNoRowsTemplate: '<span class="ag-overlay-no-rows-center">No Data Found</span>'
                })

                .build();

             agGridInstance.init('serverDataGrid');

 

   

        });

    </script>
</head>

<body>
    <div layout:fragment="content">
        <div class="grid-title"> <span id="tenant"> </span></div>
        <div class="grid-description"> 
            This widget displays data interactions that did not successfully pass to the SHIN-NY Data Lake.
            This may indicate issues such as processing failures, delivery issues, or errors encountered during the transaction.
        </br>
            Users can click on an individual interaction to open a popup with specific error details.
        </div>
        <div id="serverDataGrid" class="ag-theme-alpine"  ></div>
  
    </div>

</body>

</html>