<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/prime}">

<head> 
    <style>
        .grid-description{
            font-size: 14px;
            margin: 5px 0px 5px 15px;
        }
    </style>
    <!-- if JSON Viewer is not already in the layout, add the following -->
    <!-- <script src="https://unpkg.com/@alenaksu/json-viewer@2.0.0/dist/json-viewer.bundle.js"></script> -->

    <th:block th:insert="./fragments/common-head-aggrid :: common-head-aggrid"></th:block>
    <script type="module">
        import { AGGridAide, AGGridAideBuilder } from '@presentation/shell/aggrid-aide.js';
        import ModalAide from '@presentation/shell/modal-aide.js';

        const schemaName = 'techbd_udi_ingress';
        const viewName = 'orch_session_diagnostics';
        document.addEventListener('DOMContentLoaded', function () {
            const modalAide = new ModalAide('sftp');
            const agGridInstance = new AGGridAideBuilder()
                .withColumnDefs([
                    { headerName: "Request Time", field: "orch_started_at",  sort: "desc", filter: "agDateColumnFilter", headerTooltip: "Timestamp indicating when the ingestion process started" },
                    { headerName: "TechBD Tenant ID", field: "qe", filter: "agTextColumnFilter", headerTooltip: "Name of the TechBD Tenant ID" },
                    { headerName: "Ingested File Source", field: "ingest_file", filter: "agTextColumnFilter", headerTooltip: "The name of the file being processed",tooltipValueGetter: (p) =>
                    p.value },
                    { headerName: "Issue Column", field: "issue_column", filter: "agTextColumnFilter", headerTooltip: "Indicates the column location of the issue within the CSV file, if applicable" },
                    { headerName: "Issue Message", suppressSizeToFit: true, field: "issue_message", filter: "agTextColumnFilter",headerTooltip: "Describes the specific problem, including details such as missing files or invalid values", tooltipValueGetter: (p) =>
                    p.value},
                    { headerName: "Remediation", field: "remediation", filter: "agTextColumnFilter",tooltipValueGetter: (p) =>
                    p.value, headerTooltip: "Provides suggested actions to resolve the issue"  },
                    { headerName: "Issue Type", field: "issue_type", filter: "agTextColumnFilter", headerTooltip: "Categorizes the type of issue encountered (e.g., 'CSV File Missing,' 'Invalid Value')" },
                    { headerName: "Issue Row", field: "issue_row", filter: "agTextColumnFilter", headerTooltip: "Indicates the row number of the issue within the CSV file, if applicable" },
                    { headerName: "Invalid Value", field: "invalid_value" , filter: "agTextColumnFilter", headerTooltip: "Specifies the problematic value that caused the issue." },
                    { headerName: "Disposition", field: "disposition", filter: "agTextColumnFilter", headerTooltip: "If this file passed with a 'WARNING' error and generated the FHIR JSON or got a 'REJECTION' and the FHIR did not get generated" },
                    { headerName: "Session ID", field: "session_id", filter: "agTextColumnFilter", headerTooltip: "Identifies the ingestion session during which the issue occurred" },
                    { headerName: "Issue ID", field: "orch_session_issue_id", filter: "agNumberColumnFilter", headerTooltip: "A unique identifier for the specific issue within an orchestration session" }
                ])
                .withServerSideDatasource(
                    window.shell.serverSideUrl(`/api/ux/tabular/jooq/${schemaName}/${viewName}.json`),
                    (data, valueCols) => {
                        return valueCols.map(col => ({
                            headerName: col.displayName,
                            field: col.field
                        }));
                    },
                )
                .withModalAide(modalAide)
                .withGridDivStyles({ height: "750px", width: "100%" })
                .build();

            agGridInstance.init('serverDataGrid');
        });
    </script>    
</head>

<body>
    <div layout:fragment="content">
        <div class="grid-description">This data grid provides a detailed view of issues encountered during the CSV file ingestion process via SFTP. Each row represents an individual issue identified within a specific ingestion session, detailing the type of issue, the exact message, and the source of the problem. This diagnostic information is crucial for troubleshooting and resolving data ingestion issues efficiently, ensuring data integrity and accuracy in downstream processes. Hover over the headers to understand more on the corresponding columns.</div>
        <div id="serverDataGrid" class="ag-theme-alpine"></div>
    </div>
</body>

</html>