<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/prime}">

<head> 
    <style>
        .grid-description {
            font-size: 14px;
            margin: 8px 0px 10px 15px;
        }

        .grid-title {
            font-size: 18px;
            font-weight: bold;
            margin: 12px 0px 11px 15px;
        }

        li {
            margin-bottom: 10px;
        }

        h1.assemtion {
            font-size: 15px;
            font-weight: bold;
            margin: 12px 0px 11px 2px;
        }

        .ag-theme-alpine {
            width: 100%;
            height: 100%;
        }

        .ag-theme-alpine .ag-popup {
            position: absolute;
            z-index: 1000;
            /* Ensure it's on top */
            overflow: visible;
        }
    </style>
    <!-- if JSON Viewer is not already in the layout, add the following -->
    <!-- <script src="https://unpkg.com/@alenaksu/json-viewer@2.0.0/dist/json-viewer.bundle.js"></script> -->

    <th:block th:insert="./fragments/common-head-aggrid :: common-head-aggrid"></th:block>
    <script type="module">
        import { AGGridAide, AGGridAideBuilder } from '@presentation/shell/aggrid-aide.js';
        import ModalAide from '@presentation/shell/modal-aide.js';
        import { Helpers } from '@presentation/shell/helpers.js';


        // get qeName
        const queryString = window.location.search;
        const urlParams = new URLSearchParams(queryString);
        const qeName = urlParams.get('qeName');
        let fromDate = urlParams.get('fromDate');
        let toDate = urlParams.get('toDate');

        const formatDateForStoredProc = (dateString) => {
            if (!dateString) return null;
            const [month, day, year] = dateString.split('-');
            return `${month}-${day}-${year}`;
        };

        // Function to format the date to 'YYYY-MM-DD'
        function formatDateToYYYYMMDD(date) {
            const year = date.getFullYear();
            const month = String(date.getMonth() + 1).padStart(2, '0');
            const day = String(date.getDate()).padStart(2, '0');
            return `${year}-${month}-${day}`;
        }

        // If dates are not provided in the URL, set them to default (last 7 days)
        if (!fromDate || !toDate) {
            const currentDate = new Date();
            const pastDate = new Date();
            pastDate.setDate(currentDate.getDate() - 7);

            fromDate = formatDateToYYYYMMDD(pastDate);
            toDate = formatDateToYYYYMMDD(currentDate);
        }

        const schemaName = 'techbd_udi_ingress';
        const viewName = 'fhir_needs_attention_details';
        const datalakeSubmissionDetailsSP = 'get_fhir_needs_attention_details';

        document.addEventListener('DOMContentLoaded', function () {

            const helpers = new Helpers();
            const modalAide = new ModalAide();

            // Append parametrs at the end of ahref
            const urls = [
                '/needs-attention/techbd-to-scoring-engine',
                '/needs-attention/scn-to-qe',
                '/needs-attention/qe-to-techbd'
            ];

            // Add click event listener to each link of tabs
            const links = document.querySelectorAll('a');
            links.forEach(link => {
                if (urls.some(url => link.href.endsWith(url))) {
                    let updatedHref = link.href + `?qeName=${qeName}`;
                    if (fromDate) {
                        updatedHref += `&fromDate=${fromDate}`;
                    }
                    if (toDate) {
                        updatedHref += `&toDate=${toDate}`;
                    }
                    link.href = updatedHref;
                }
            });

            const heading = document.getElementById('heading-prime');
            if (heading) {
                heading.textContent += ` ${qeName}`;
            }

            // Replace QE with qeName
            document.querySelectorAll('ul.flex li a').forEach(link => {
                if (link.textContent.includes('(QE)')) {
                    link.textContent = link.textContent.replace('(QE)', qeName);
                }
            });

            // Select the breadcrumb terminal item
            const breadcrumbTerminal = document.querySelector("#breadcrumb-terminal span");

            // Remove the text "Needs Attention -" if it exists
            if (breadcrumbTerminal) {
                breadcrumbTerminal.textContent = breadcrumbTerminal.textContent.replace("Needs Attention -", qeName).trim();
            }

            const storedProcparams = {
                "tenant_id": qeName,
                "start_date": formatDateForStoredProc(fromDate),
                "end_date": formatDateForStoredProc(toDate)
            };

            const gridRequestBody = {
                "startRow": 0,
                "endRow": 100,
                "rowGroupCols": [],
                "valueCols": [],
                "pivotCols": [],
                "pivotMode": false,
                "groupKeys": [],
                "filterModel": {},
                "sortModel": []
            }

            const paramsJson = encodeURIComponent(JSON.stringify(storedProcparams));

            const url = window.shell.serverSideUrl(`/api/ux/tabular/jooq/sp/${schemaName}/${datalakeSubmissionDetailsSP}.json?storedProcparams=${paramsJson}`);


            const agGridInstance = new AGGridAideBuilder()
                .withColumnDefs([
                    {
                        headerName: "TechBD Interaction Id",
                        field: "hub_interaction_id",
                        filter: "agTextColumnFilter",
                        cellRenderer: 'agGroupCellRenderer',
                        cellRenderer: params => {
                            const hub_interaction_id = params.value;
                            const error_type = params.data.error_type;
                            const sat_interaction_http_request_id = params.data.sat_interaction_http_request_id;
                            const button = document.createElement('button');
                            button.innerText = hub_interaction_id;
                            button.style.textDecoration = 'underline';
                            button.addEventListener('click', () => {
                                modalAide.viewFetchedJsonValue(window.shell.serverSideUrl(`/api/ux/tabular/jooq/${schemaName}/interaction_http_fhir_request/sat_interaction_http_request_id/${sat_interaction_http_request_id}.json`));
                            });
                            return button;
                        }
                    },
                    // { headerName: "Error Message", field: "error_message", filter: "agTextColumnFilter",tooltipValueGetter: (p) =>
                    // p.value, valueGetter: (params) => {
                    //         const error = params.data.error_message || ''; // Default to an empty string if no value
                    //         const responseBodyDetails = params.data.response_body_details || ''; // Default to an empty string if no value
                    //         return error && responseBodyDetails ? `${error}, ${responseBodyDetails}` : error || responseBodyDetails;
                    //     } },
                    { headerName: "Submission Date", field: "created_at", filter: "agDateColumnFilter", filter: "agDateColumnFilter" },
                ])
                .withServerSideDatasource(
                    window.shell.serverSideUrl(url),
                    (data, valueCols) => {
                        return valueCols.map(col => ({
                            headerName: col.displayName,
                            field: col.field
                        }));
                    },
                    {
                        beforeRequest: async (reqPayload, dataSourceUrl) => {
                            // Forcefully add the filterModel for error_type
                            reqPayload.body.filterModel = {
                                ...reqPayload.body.filterModel,
                                qe_name: {
                                    filterType: "text",
                                    type: "equals",
                                    filter: `${qeName}`
                                }
                            };
                        }
                    }
                )
                .build();

            agGridInstance.init('serverDataGrid');



        });

    </script>
</head>

<body>
    <div layout:fragment="content">
        <div class="grid-title"> <span id="tenant"> </span></div>
        <div class="grid-description">
            This widget displays data interactions that failed to receive a 200 response from the SHIN-NY Data Lake,
            highlighting potential issues in processing, delivery, or encountered errors.</br>
            Click on an interaction, a popup will open containing the error details.
        </div>
        <div id="serverDataGrid" class="ag-theme-alpine"></div>

    </div>

</body>

</html>