DEPLOYMENT_DOMAIN=synthetic.fhir.api.sandbox.techbd.org
REPO_URL=https://github.com/tech-by-design/polyglot-prime.git
DATE=0001-01-01
TAG=0.60.0
SEMAPHORE=1
SPRING_PROFILES_ACTIVE=sandbox
sandbox_TECHBD_UDI_DS_PRIME_JDBC_URL=jdbc:postgresql://aws.neon.tech/persistence-stage
sandbox_TECHBD_UDI_DS_PRIME_JDBC_USERNAME=persistence-stage
sandbox_TECHBD_UDI_DS_PRIME_JDBC_PASSWORD=**********