name: FHIR Bundle SmokeTest
on:
  schedule:
    - cron: '0 */2 * * *'
  workflow_dispatch:  

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'corretto'
        cache: maven

    - name: Download and setup JMeter
      run: |
        curl -O https://dlcdn.apache.org//jmeter/binaries/apache-jmeter-5.6.3.tgz
        tar -xzf apache-jmeter-5.6.3.tgz
        sudo mv apache-jmeter-5.6.3 ./test-automation/

    - name: Decode the .p12 file
      env:
        P12_FILE_BASE64: ${{ secrets.TECHBD_PHI_QA_KEY_BASE64 }}
      run: |
          CERT_DIR="./test-automation/Certificates"
          mkdir -p $CERT_DIR
          echo "$P12_FILE_BASE64" | base64 -d > "$CERT_DIR/techbd-phi-QA-key.p12"
          
    - name: Update SSL paths in JMeter configuration files
      run: |
          CONFIG_DIR="./test-automation/apache-jmeter-5.6.3/bin"
          CERT_PATH="./test-automation/Certificates/techbd-phi-QA-key.p12"

          echo "javax.net.ssl.keyStore=$CERT_PATH" >> $CONFIG_DIR/jmeter.properties
          echo "javax.net.ssl.keyStorePassword=" >> $CONFIG_DIR/jmeter.properties
          echo "javax.net.ssl.keyStoreType=pkcs12" >> $CONFIG_DIR/jmeter.properties

          # Update system.properties
          echo "javax.net.ssl.keyStore=$CERT_PATH" >> $CONFIG_DIR/system.properties
          echo "javax.net.ssl.keyStorePassword=" >> $CONFIG_DIR/system.properties
          echo "javax.net.ssl.keyStoreType=pkcs12" >> $CONFIG_DIR/system.properties

          # Update user.properties
          echo "javax.net.ssl.keyStore=$CERT_PATH" >> $CONFIG_DIR/user.properties
          echo "javax.net.ssl.keyStorePassword=" >> $CONFIG_DIR/user.properties
          echo "javax.net.ssl.keyStoreType=pkcs12" >> $CONFIG_DIR/user.properties

    - name: Verify updates
      run: |
          CONFIG_DIR="./test-automation/apache-jmeter-5.6.3/bin"
          
          echo "Verifying jmeter.properties:"
          grep ssl $CONFIG_DIR/jmeter.properties
          
          echo "Verifying system.properties:"
          grep ssl $CONFIG_DIR/system.properties
          
          echo "Verifying user.properties:"
          grep ssl $CONFIG_DIR/user.properties
        
    - name: Run FHIR Bundle SmokeTest - Staging
      run: |
        mkdir -p ./test-automation/JmeterStageReport/
        ./test-automation/apache-jmeter-5.6.3/bin/jmeter -n -t "./test-automation/FHIR-Bundle-SmokeTest-Stage/Bundle.jmx" -l "./test-automation/JmeterStageResult/bundletest.jtl"
        ./test-automation/apache-jmeter-5.6.3/bin/jmeter -g "./test-automation/JmeterStageResult/bundletest.jtl" -o "./test-automation/JmeterStageReport/"

    - name: Run FHIR Bundle SmokeTest - PHI-QA
      run: |
        mkdir -p ./test-automation/JmeterPHIQAReport/
         ./test-automation/apache-jmeter-5.6.3/bin/jmeter -n -t "./test-automation/FHIR-Bundle-SmokeTest-PHI-QA/Bundle.jmx" -l "./test-automation/JmeterPHIQAResult/bundletest.jtl"
         ./test-automation//apache-jmeter-5.6.3/bin/jmeter -g "./test-automation/JmeterPHIQAResult/bundletest.jtl" -o "./test-automation/JmeterPHIQAReport/"

    - name: Archive JMeter Reports into ZIP files
      run: |
        sudo apt-get install -y zip
        cd ./test-automation
        zip -r ./JmeterStageReport.zip ./JmeterStageReport/
        zip -r ./JmeterPHIQAReport.zip ./JmeterPHIQAReport/

    - name: Send email with JMeter reports
      uses: dawidd6/action-send-mail@v3
      with:
        server_address: email-smtp.us-east-1.amazonaws.com
        server_port: 587
        username: ${{ secrets.SES_SMTP_USERNAME }}
        password: ${{ secrets.SES_SMTP_PASSWORD }}
        subject: "TechBD FHIR Bundle SmokeTest"
        body: |
            Hello Team,
            
            This is an automated notification for the FHIR Bundle scheduled SmokeTest results.  

            Test Summary:
            - Development Report: Attached
            - Staging Report: Attached
            - QA Report: Attached

            Please find the attached reports for detailed results of the tests executed.

            Regards,  
            Tech by Design Automation Team  

        content_type: "text/plain"
        from: "Tech by Design FHIR SmokeTest Result <no-reply@tx.techbd.org>"
        to: ratheeshkumar-kr@netspective.in, raphael-paily@netspective.in, roshni-kesavan@netspective.in
        attachments: |       
          ./test-automation/JmeterStageReport.zip
          ./test-automation/JmeterPHIQAReport.zip

